<div class="page-wrapper">
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Bookings</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
						<li class="breadcrumb-item active">Bookings</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="datatable table table-stripped">
								<thead>
									<tr>
										<th>Mentor Id</th>
										<th>Course</th>
										<th>Mentee Id</th>
										<th>Booking Time</th>
										<th>Status</th>

									</tr>
								</thead>
                <tbody>

                  <tr *ngFor="let book of books ; let i= index">
                       <td>{{book.professorsId}}</td>
                       <td>{{book.levelId}}</td>
                       <td>{{book.clientId}}</td>
                       <td>{{book.DateDebOfBook}}</td>
                       <td>{{book.statusOfBook}}</td>
                  </tr>
                </tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
			</div>
		</div>
	</div>
</div>
