<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Search Filter -->
        <div class="card search-filter">
          <div class="card-header">
            <h4 class="card-title mb-0">{{"SEARCH.SEARCHFILTER" | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="filter-widget">
              <h4>{{"SEARCH.SELECTLANGUAGE" | translate}}</h4>
                <select class="form-control" [(ngModel)]="_selectdLanguage">
                <option value="all"></option>
                <option value="english">english</option>
                <option value="arabic">العربية</option>
                <option value="French">Français</option>
                <option value="Chinese">中國人</option>
                <option value="Hindi">हिंदी</option>
                <option value="Spanish">español</option>
                <option value="Bengali">বাংলা</option>
                <option value="Russian">русский</option>
                <option value="Portuguese">português</option>
                <option value="Indonesian">bahasa Indonesia</option>

              </select>
            </div>


            <div class="filter-widget">
              <h4>{{"SEARCH.SELECTSUBJECT" | translate}}</h4>
              <select *ngIf="Matiers" class="form-control" [(ngModel)]='_Matiers' (change)='_Category=0' name="_Matiers"><option value="0">

                  <ng-container >{{"SEARCH.SELECTSUBJECT" | translate}}</ng-container>
                </option>
                <ng-container *ngFor="let Matier of Matiers">
                  <option value="{{Matier.id}}">
                    <ng-container *ngIf="!isEnglish()">{{Matier.arabicName}}</ng-container>
                    <ng-container *ngIf="isEnglish()">{{Matier.englishName}}</ng-container>
                  </option>
                </ng-container>

              </select>
            </div>

            <!--
   <div class="filter-widget">
              <h4>Select Level</h4>
                <select *ngIf="Levels" class="form-control"   name="_Levels">
                  <option value="0">
                    <ng-container *ngIf="!isEnglish()">حدد
                      المستوى</ng-container>
                    <ng-container *ngIf="isEnglish()">Select
                      the level</ng-container>
                  </option>
                  <ng-container *ngFor="let Level of Levels">
                    <option value="{{Level.id}}">
                      <ng-container *ngIf="!isEnglish()">{{Level.LevelNameArabic}}</ng-container>
                      <ng-container *ngIf="isEnglish()">{{Level.LevelNameEnglish}}</ng-container>
                    </option>
                  </ng-container>

                </select>
            </div>
         -->


            <div class="filter-widget">
              <h4>{{"SEARCH.SETPRICERANGE" | translate}}</h4>
              <div>
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
              </div>
            </div>


            <div class="filter-widget">
              <h4>{{"SEARCH.SETDATEBORN" | translate}}</h4>
              <div class="row">

                <div class="form-group row">

                  <div class="col-lg-3">
                    <mat-form-field style="width: 100px;">
                      <mat-label>{{"SEARCH.MINDATE" | translate}}</mat-label>
                      <input matInput [matDatepicker]="minDate" [(ngModel)]='dateMin'  >
                      <mat-datepicker-toggle [for]="minDate" matSuffix> </mat-datepicker-toggle>
                      <mat-datepicker #minDate > </mat-datepicker>
                    </mat-form-field>

                  </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="form-group row">

                  <div class="col-lg-3">
                    <mat-form-field style="width: 100px;">
                      <mat-label>{{"SEARCH.MAXDATE" | translate}}</mat-label>
                      <input matInput [matDatepicker]="maxDate" [(ngModel)]='dateMax'>
                      <mat-datepicker-toggle [for]="maxDate" matSuffix> </mat-datepicker-toggle>
                      <mat-datepicker #maxDate > </mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>








              </div>



            </div>

            <!--
            <div class="filter-widget">
              <h4>Select Courses</h4>
              <div *ngFor="let specialit of specialityList">
                <label class="custom_check">
                  <input type="checkbox" [checked]="specialit.checked" (click)="checkSpeciality($event)"
                    name="select_specialist" [value]="specialit.speciality" [checked]="specialit.checked">
                  <span class="checkmark"></span> {{specialit.speciality}}
                </label>
              </div>

            </div>
-->






              <button type="button" class="btn btn-block btn-outline-primary" (click)="search()">{{"SEARCH.SEARCH" | translate}}</button>



              <button type="button" class="btn btn-block btn-outline-warning" (click)="clear()">{{"SEARCH.CLEAR" | translate}}</button>


          </div>
        </div>
        <!-- /Search Filter -->

      </div>

      <div class="col-md-12 col-lg-8 col-xl-9">

        <!-- Doctor Widget -->
      
        <div class="card" *ngFor="let mentor of mentors | slice:0:5" [hidden]="mentors.length === 0">
          <ng-container *ngIf="mentor.TarifsID">
            <ng-container>
              <!-- Mentor Widget -->
              <div class="card-body">
                <div class="mentor-widget">
                  <div class="user-info-left">
                    <div class="mentor-img">
                      <a [routerLink]="'/mentor-profile'" [queryParams]="{id: mentor.id}">
                        <img src="{{mentor.urlMandatoryPhoto}}" class="img-fluid" alt="User
											Image">
                      </a>
                    </div>
                    <div class="user-info-cont">
                      <h4 class="usr-name"><a [routerLink]="'/mentor-profile'" [queryParams]="{id: mentor.id}">{{
                          mentor.firstName }}</a></h4>
                      <p class="mentor-type">{{mentor.Education}}</p>

                      <div class="rating">

                        <table style="margin: auto;">
                          <tr>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>0"> <i class="fas
														fa-star filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>1"> <i class="fas
														fa-star filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>2"><i class="fas fa-star
														filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>3"><i class="fas fa-star
														filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>4"><i class="fas fa-star
														filled"></i></td>
                          </tr>
                        </table>


                      </div>

                      <div class="mentor-details">
                        <p>( {{ (mentor.min * valueofUSD).toFixed(2) }} - {{ (mentor.max * valueofUSD).toFixed(2)}} )<i>
                            {{userCurrency}}</i>/h</p>
                      </div>
                      <div>
                        <button mat-icon-button (click)="FavoriteAction(mentor)" >

                          <mat-icon *ngIf="mentor.selected" aria-label="Example icon-button with a heart icon">
                            favorite
                          </mat-icon>

                          <mat-icon *ngIf="!mentor.selected" aria-label="Example icon-button with a heart icon">
                            favorite_border
                          </mat-icon>

                        </button>
                      </div>
                    </div>
                  </div>






                  <div style="width: 100%;">


                    <div class="col-md-12">
                      <div class="card">

                        <div class="card-body">
                          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab1{{mentor.id}}"
                                data-toggle="tab">General</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab2{{mentor.id}}"
                                data-toggle="tab">Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3{{mentor.id}}"
                                data-toggle="tab">Calendar</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane show active" id="bottom-justified-tab1{{mentor.id}}"  style="min-height: 150px;">
                              <div> {{mentor.general_en}} </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab2{{mentor.id}}"  style="min-height: 150px;">
                              <div> {{mentor.details_en}} </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab3{{mentor.id}}" style="min-height: 150px;">



                              <table style="width: 100%;">
                                <tr>
                                  <td style="width: 20%; text-align: center; font-size: 10px;">

                                    <p *ngIf="selecteddate>0" (click)="backdate()">
                                      <ng-container *ngIf="!isEnglish()"> السابق </ng-container>
                                      <ng-container *ngIf="isEnglish()"> Back</ng-container>
                                    </p>
                                  </td>
                                  <td style="width: 60%;text-align: center;">
                                   <!-- {{selectedtext}}  -->
                                   {{selected_date | date:'MMM d'}} - {{selected_date2 | date}}
                                  </td>
                                  <td style="width: 20%;text-align: center; font-size: 10px;">

                                    <p *ngIf="selecteddate<3" (click)="nextdate()">
                                      <ng-container *ngIf="!isEnglish()"> التالي </ng-container>
                                      <ng-container *ngIf="isEnglish()"> Next</ng-container>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                              <table style="margin: auto;">
                                <tr>

                                  <td *ngFor="let day of mentor.week" style="text-align: center;">
                                    <ng-container *ngIf="!isEnglish()"> {{day.day.day_a}}
                                    </ng-container>
                                    <ng-container *ngIf="isEnglish()">
                                      {{day.day.day}} </ng-container>
                                  </td>

                                </tr>
                                <tr>
                                  <td *ngFor="let day of mentor.week">

                                    <p class='btn23 {{day.today.h0.t}}'>0</p>
                                    <p class='btn23 {{day.today.h1.t}}'>1</p>
                                    <p class='btn23 {{day.today.h2.t}}'>2</p>
                                    <p class='btn23 {{day.today.h3.t}}'>3</p>
                                    <p class='btn23 {{day.today.h4.t}}'>4</p>

                                    <p class='btn23 {{day.today.h5.t}}'>5</p>
                                    <p class='btn23 {{day.today.h6.t}}'>6</p>
                                    <p class='btn23 {{day.today.h7.t}}'>7</p>
                                    <p class='btn23 {{day.today.h8.t}}'>8</p>
                                    <p class='btn23 {{day.today.h9.t}}'>9</p>

                                    <p class='btn23 {{day.today.h10.t}}'>10</p>
                                    <p class='btn23 {{day.today.h11.t}}'>11</p>
                                    <p class='btn23 {{day.today.h12.t}}'>12</p>
                                    <p class='btn23 {{day.today.h13.t}}'>13</p>
                                    <p class='btn23 {{day.today.h14.t}}'>14</p>

                                    <p class='btn23 {{day.today.h15.t}}'>15</p>
                                    <p class='btn23 {{day.today.h16.t}}'>16</p>
                                    <p class='btn23 {{day.today.h17.t}}'>17</p>
                                    <p class='btn23 {{day.today.h18.t}}'>18</p>
                                    <p class='btn23 {{day.today.h19.t}}'>19</p>

                                    <p class='btn23 {{day.today.h20.t}}'>20</p>
                                    <p class='btn23 {{day.today.h21.t}}'>21</p>
                                    <p class='btn23 {{day.today.h22.t}}'>22</p>
                                    <p class='btn23 {{day.today.h23.t}}'>23</p>




                                  </td>
                                </tr>




                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>






                  </div>
                </div>
                <!-- /Mentor Widget -->
              </div>

              <div class="load-more text-center" *ngIf="mentors.length !== 0">
                <a class="btn btn-primary btn-sm" href="/mentor-profile;id={{mentor.professorsId}}">Load More</a>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

    </div>

  </div>
  <!-- /Page Content -->
