.align-input {
  padding: 5px 8px;
}
.calendar {
  border-left: 0px;
  border-color: #dcdcdc;
  padding-right: 20px;
}
.align-input {
  border-right: 0px;
}

.selecteddate {
  border: solid;

  border-color: #488aff !important;
}
.label-ios {
  margin: auto !important;
}
.btn23 {
  text-align: center;
  font-size: 10px;
  margin: 1px;
  padding: 1px;
      height: 22px !important;
    width: 22px !important;
}
.x {
  color: #00772400;
  background: #965d5d1a;
  width: 10px;
  text-align: center;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  font-weight: 200;
  /* padding: 1px; */
  border: solid;
  border-width: 1px;

  border-color: #2ec95c00;
}
.E {
  color: #00772400;
  background: #965d5d01;
  width: 10px;
  text-align: center;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  font-weight: 200;
  /* padding: 1px; */
  border: solid;
  border-width: 1px;

  border-color: #965d5d05;
}
.O {
  color: #007723;
  background: #2ec95c0d;
  width: 10px;
  text-align: center;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  font-weight: 200;
  /* padding: 1px; */
  border: solid;
  border-width: 1px;

  border-color: #2ec95c00;
}
