<!-- Page Content -->
<div class="content">
  <div class="container-fluid" *ngIf="tutor" >
    <div class="row justify-content-center">
      <div class="col-xl-8">

        <!-- Mentor Widget -->
        <div class="card">
          <div class="card-body">
            <div class="mentor-widget">
              <div class="user-info-left align-items-center">
                <div class="mentor-img d-flex flex-wrap justify-content-center">
                  <div class="pro-avatar"><img src="{{tutor.urlMandatoryPhoto}}" style="    max-height: 100%; max-width: 100%;"></div>
                  <div class="rating text-center">
                    <i class="fas fa-star filled" *ngIf="(tutor.rating/tutor.rating_n)>0" ></i>
                    <i class="fas fa-star filled" *ngIf="(tutor.rating/tutor.rating_n)>1"></i>
                    <i class="fas fa-star filled"  *ngIf="(tutor.rating/tutor.rating_n)>2"></i>
                    <i class="fas fa-star filled"  *ngIf="(tutor.rating/tutor.rating_n)>3"></i>
                    <i class="fas fa-star filled"  *ngIf="(tutor.rating/tutor.rating_n)>4"></i>

                  </div>




                  <div class="mentor-details m-0">
                    <!-- <p class="user-location m-0"><i class="fas
                        fa-map-marker-alt"></i> Tamil Nadu, India</p> -->
                  </div>
                </div>
                <div class="user-info-cont">
                  <h4 class="usr-name">{{tutor.english_name}}</h4>
                  <p class="mentor-type">{{tutor.general_en}}</p>
                  <div class="mentor-action">
                    <p class="mentor-type social-title">Contact Me</p>
                    <a href="javascript:void(0)" class="btn-blue">
                      <i class="fas fa-comments"></i>
                    </a>
                    <!-- <a [routerLink]="'/message'" class="btn-blue">
                      <i class="fas fa-envelope"></i>
                    </a> -->
                    <!-- <a href="javascript:void(0)" class="btn-blue"
                      data-toggle="modal" data-target="#voice_call">
                      <i class="fas fa-phone-alt"></i>
                    </a> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /Mentor Widget -->

        <!-- Mentor Details Tab -->
        <div class="card">
          <div class="card-body custom-border-card pb-0">

            <!-- About Details -->
            <div class="widget about-widget custom-about mb-0">
              <h4 class="widget-title">About Me</h4>
              <hr/>
                <p> {{tutor.details_en}}</p>
              </div>
              <!-- /About Details -->
            </div>
          </div>

          <div class="card">
            <div class="card-body custom-border-card pb-0">

              <!-- Personal Details -->
              <div class="widget education-widget mb-0">
                <h4 class="widget-title">Personal Details</h4>
                <hr/>
                  <div class="experience-box">
                    <ul class="experience-list profile-custom-list">
                      <li>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <span>Gender</span>
                            <div class="row-result">Male</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <span>Date of Birth</span>
                            <div class="row-result">01 - 02 - 2000</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="experience-content">
                          <div class="timeline-content">
                            <span>Where did you hear about us?</span>
                            <div class="row-result">Through web search</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Personal Details -->

              </div>
            </div>

            <div class="card">
              <div class="card-body custom-border-card pb-0">

                <!-- Qualification Details -->
                <div class="widget experience-widget mb-0">
                  <h4 class="widget-title">Qualification</h4>
                  <hr/>
                    <div class="experience-box">
                      <ul class="experience-list profile-custom-list">
                        <div *ngFor="let item of tarif" >
                          <div class="experience-content">
                            <div class="timeline-content">
                               <div class="row-result">{{item.englishName}}</div>
                              <span>{{item.CategoryNameEnglish}}</span>

                               <span class="hire-rate">{{(item.price * valueofUSD).toFixed(2)}}  {{userCurrency}} / Hour</span>
                              <div class="user-info-right d-flex align-items-end flex-wrap">
                <div class="hireme-btn text-center">

                  <a class="blue-btn-radius" (click)="handleEvent( item)" >Hire
                    Me</a>
                </div>
              </div>
                            </div>
                          </div>
                        </div>



                      </ul>
                    </div>
                  </div>
                  <!-- /Qualification Details -->

                </div>
              </div>


                <!-- /Mentor Details Tab -->

              </div>
            </div>
          </div>
        </div>
        <!-- /Page Content -->
        <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <div class="modal-title">



    </div>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="widget awards-widget m-0">
                     <table style="width: 100%;">
<tr>
 <td style="width: 20%; text-align: center;  font-size: 10px;">

   <p  *ngIf="selecteddate>0"  (click)="backdate()">
          <ng-container *ngIf="!isEnglish()" > السابق </ng-container> <ng-container *ngIf="isEnglish()" > Back</ng-container>
  </p>
</td>
 <td style="width: 60%;text-align: center;">
    {{selected_date | date:'MMM d'}} - {{selected_date2 | date}}
</td>
 <td style="width: 20%;text-align: center; font-size: 10px;">

   <p  *ngIf="selecteddate<3"  (click)="nextdate()">
     <ng-container *ngIf="!isEnglish()" > التالي </ng-container> <ng-container *ngIf="isEnglish()" > Next</ng-container>
   </p>
</td>
</tr>
</table>
                    <hr/>
                      <div class="experience-box">


<table style="width: 100%;">
<tr>

  <td *ngFor="let day of tutor.week" style="text-align: center;" >

     <ng-container *ngIf="!isEnglish()" > {{day.day.day_a}} </ng-container> <ng-container *ngIf="isEnglish()" > {{day.day.day}} </ng-container>
  </td>

</tr>
<tr> <td   *ngFor="let day of tutor.week"  >

  <p class='btn23 {{day.today.h0.t}} {{day.today.h0.s}}' (click)="addtobasket(day.today.h0 ,day)"  >0</p>
  <p class='btn23 {{day.today.h1.t}} {{day.today.h1.s}}' (click)="addtobasket(day.today.h1 ,day)" >1</p>
  <p class='btn23 {{day.today.h2.t}} {{day.today.h2.s}}' (click)="addtobasket(day.today.h2 ,day)" >2</p>
  <p class='btn23 {{day.today.h3.t}} {{day.today.h3.s}}' (click)="addtobasket(day.today.h3 ,day)" >3</p>
  <p class='btn23 {{day.today.h4.t}} {{day.today.h4.s}}'  (click)="addtobasket(day.today.h4 ,day)" >4</p>

  <p class='btn23 {{day.today.h5.t}} {{day.today.h5.s}}'  (click)="addtobasket(day.today.h5 ,day)" >5</p>
  <p class='btn23 {{day.today.h6.t}} {{day.today.h6.s}}'  (click)="addtobasket(day.today.h6 ,day)" >6</p>
  <p class='btn23 {{day.today.h7.t}} {{day.today.h7.s}}'  (click)="addtobasket(day.today.h7 ,day)"  >7</p>
  <p class='btn23 {{day.today.h8.t}} {{day.today.h8.s}}' (click)="addtobasket(day.today.h8 ,day)" >8</p>
  <p class='btn23 {{day.today.h9.t}} {{day.today.h9.s}}' (click)="addtobasket(day.today.h9 ,day)" >9</p>

  <p class='btn23 {{day.today.h10.t}} {{day.today.h10.s}}' (click)="addtobasket(day.today.h10 ,day)" >10</p>
  <p class='btn23 {{day.today.h11.t}} {{day.today.h11.s}}' (click)="addtobasket(day.today.h11 ,day)" >11</p>
  <p class='btn23 {{day.today.h12.t}} {{day.today.h12.s}}' (click)="addtobasket(day.today.h12 ,day)" >12</p>
  <p class='btn23 {{day.today.h13.t}} {{day.today.h13.s}}' (click)="addtobasket(day.today.h13 ,day)" >13</p>
  <p class='btn23 {{day.today.h14.t}} {{day.today.h14.s}}' (click)="addtobasket(day.today.h14 ,day)" >14</p>

  <p class='btn23 {{day.today.h15.t}} {{day.today.h15.s}}' (click)="addtobasket(day.today.h15 ,day)" >15</p>
  <p class='btn23 {{day.today.h16.t}} {{day.today.h16.s}}' (click)="addtobasket(day.today.h16 ,day)" >16</p>
  <p class='btn23 {{day.today.h17.t}} {{day.today.h17.s}}' (click)="addtobasket(day.today.h17 ,day)" >17</p>
  <p class='btn23 {{day.today.h18.t}} {{day.today.h18.s}}' (click)="addtobasket(day.today.h18 ,day)" >18</p>
  <p class='btn23 {{day.today.h19.t}} {{day.today.h19.s}}' (click)="addtobasket(day.today.h19 ,day)" >19</p>

  <p class='btn23 {{day.today.h20.t}} {{day.today.h20.s}}' (click)="addtobasket(day.today.h20 ,day)" >20</p>
  <p class='btn23 {{day.today.h21.t}} {{day.today.h21.s}}' (click)="addtobasket(day.today.h21 ,day)" >21</p>
  <p class='btn23 {{day.today.h22.t}} {{day.today.h22.s}}' (click)="addtobasket(day.today.h22 ,day)" >22</p>
  <p class='btn23 {{day.today.h23.t}} {{day.today.h23.s}}' (click)="addtobasket(day.today.h23 ,day)" >23</p>




</td>  </tr>




</table>

                      </div>
                    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
