
.selecteddate{
      border: solid;
   
    border-color: #488aff !important;
  
}
.label-ios {
    margin: auto !important;
}

.btn23 {
  text-align: center;
  font-size: 10px;
  margin: 1px;
  padding: 1px;
      height: 22px !important;
    width: 22px !important;
}
.x{
      color: #00772400;
    background: #965d5d1a;
    width: 20px;
    text-align: center;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-weight: 200;
    /* padding: 1px; */
    border: solid;
    border-width: 1px;
    
    border-color: #2ec95c00;
}
.E{
     color: #00772400;
    background: #965d5d01;
    width: 20px;
    text-align: center;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-weight: 200;
    /* padding: 1px; */
    border: solid;
    border-width: 1px;
    
    border-color: #965d5d02;
}
.O{
 
       
              color: #007723;
    background: #2ec95c0d;
    width: 20px;
    text-align: center;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-weight: 200;
    /* padding: 1px; */
    border: solid;
    border-width: 1px;
    
    border-color: #2ec95c00;
}