<div class="row" style="margin: 30px;">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Tarif </h4>
        <button *ngIf="!show" (click)="showAdd()">+</button>
        <button *ngIf="show" (click)="hideAdd()">-</button>
      </div>
    </div>


    <div class="card" *ngIf="show" style="padding: 10px;">

      <div class="row">



        <div class="col-sm-6">
          <br>
          <label for="matiereId">Matiere </label>
          <select class="form-control" [(ngModel)]='matiereId'
            (change)='categoryId=0'>
            <ng-container *ngFor="let matier of matiers">
              <option value="{{matier.id}}">{{matier.englishName}}{{matier.arabicName}}</option>
            </ng-container>

          </select>

        </div>
        <div class="col-sm-6" *ngIf="matiereId>0" >
          <br>
          <label for="matiereId">Category </label>
          <select class="form-control" [(ngModel)]='categoryId'
            (change)='LevelId=0'>
            <ng-container *ngFor="let Category of categorys">
              <ng-container *ngIf="Category.matiereId == matiereId">



                <option value="{{Category.id}}">{{Category.CategoryNameArabic}}{{Category.CategoryNameEnglish}}
                </option>
              </ng-container>
            </ng-container>

          </select>

        </div>
        <!-- <div class="col-sm-6" *ngIf="categoryId>0" (change)='price=0'>
          <br>
          <label for="matiereId">Level </label>
          <select class="form-control" [(ngModel)]='LevelId'>
            <ng-container *ngFor="let level of Levels">
              <ng-container *ngIf="level.categoryId == categoryId">



                <option value="{{level.categoryId}}">{{level.LevelNameArabic}}{{level.LevelNameEnglish}}
                </option>
              </ng-container>
            </ng-container>

          </select>

        </div> -->
        <div class="col-sm-12" *ngIf=" matiereId>0&& matiereId>0" >
          <br>
          <label for="matiereId">Tarif ($) </label>
          <input class="form-control" type="number" [(ngModel)]='price'>
        </div>


        <div class="col-sm-6" *ngIf=" matiereId>0&& matiereId>0&&
          price>0" >
          <br><br><br>
          <button (click)="Add()" class="btn btn-info">Add</button>
        </div>


      </div>
    </div>

  </div>
</div>
<div class="row">


  <!-- <div class="col-sm-4"  >

{{Tarif.levelId}}
<button  >delete</button>
</div> -->
  <!-- <div *ngFor="let Tarif of Tarifs" class="col-md-12 col-lg-4 dash-board-list
    yellow">
    <div class="dash-widget">
      <div (click)="delete(Tarif.id)" class="circle-bar">
        <div class="icon-col">
          <i class="fas fa-trash" style="color: rgb(255, 0, 0);"></i>
        </div>
      </div>
      <div class="dash-widget-info">
        <h3>{{Tarif.price}}</h3>
        <h6>{{Tarif.name}} </h6>
      </div>
    </div>
  </div> -->
 <table class="table"  style="border: none i !important;">
    <tr *ngFor="let Tarif of Tarifs" >
<td style="    min-width: 250px;"> {{Tarif.name}} </td>
<td style="    min-width: 70px;"> {{Tarif.price}} $ </td>
<td>
 <div (click)="delete(Tarif.id)" class="circle-bar">
        <div class="icon-col">
          <i class="fas fa-trash" style="color: rgb(255, 0, 0);"></i>
        </div>
      </div>
</td>
    </tr>
  </table>

</div>