<!-- Page Content -->



<!-- Page Content -->
<div class="bg-pattern-style bg-pattern-style-register">
	<div class="content">

		<!-- Register Content -->
		<div class="account-content">
			<div class="account-box" style="    min-height: 500px;    padding: 10px;">
				<div class="login-right">
					<!-- <div class="login-header">
					
						<p class="text-muted">Tutor Registration</p>
					</div> -->










<div >
    <!-- <h1>{{isApprouved}}</h1> -->
      <div class="container-fluid" *ngIf="isApprouved==0" >

<div class="content">
  <div class="o-c">
    <div>
      <div class="card" style="    border-radius: 20px !important;    padding: 30px;">
        <p class="a-o-i">Enter verification code</p>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
      
      </div>
        <span *ngIf="otp" class="o-t-p">Entered otp :{{otp}}</span>
    </div>
  </div>
   
</div>

<div *ngIf="checkotpbtn" style="    text-align: center;" >
     <br>
    <button class="btn btn-info submit-btn"  (click)="CheckOtp(otp)"  >Check OTP </button>
                             </div>
      </div>

      <div class="container-fluid" *ngIf="isApprouved==1" >
        <div class="row">



<div class="form-group">



    <iframe width="560" height="315" src="https://www.youtube.com/embed/uJ67iK5P-5Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua.
     <br> <br> <br>
     <br> <br> <br>
							<div class="custom-control custom-control-xs custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									name="agreeCheckboxUser2" id="agree_checkbox_user2" [(ngModel)]="agreeCheckboxUser2" 
								>
								<label class="custom-control-label" for="agree_checkbox_user2">I agree to
									Taleb</label> <a tabindex="-1" >Privacy
									Policy</a> &amp; <a tabindex="-1" > Terms.</a>
							</div>
						</div>
                        <div *ngIf="agreeCheckboxUser2" >
                            <button class="btn btn-info submit-btn"  (click)="next()"  >
Next
                            </button>
                             </div>
        </div>
        
    </div>

      <div class="" *ngIf="isApprouved==2" >
      






 <div class="">
            <div class="container ">

                <img *ngIf="!currentProfessorProfile.urlCoverPhoto" src="https://peacemakersnetwork.org/wp-content/uploads/2019/09/placeholder.jpg" alt="Avatar" class="image" 
                style='
                border: solid;
                border-color: #7070709e;
                border-width: 1px;
                width: 100%;
                 height: 150px;
                 background: #d3d3d39e;
                object-fit: cover;'>
              
              <img class="image"  *ngIf="currentProfessorProfile.urlCoverPhoto"
                src="{{currentProfessorProfile.urlCoverPhoto}}"
                style='
                border: solid;
                border-color: #9696969e;
                border-width: 1px;
                width: 100%;
                height: 150px;
                object-fit: cover;' />
                 <div class="middle">
    <div class="text"> <div class="change-photo-btn">
                <span><i class="fa fa-upload"></i> Upload Cover</span>
                <input [disabled]="currentProfessorProfile.published!=0"
                  type="file" accept="image/*"
                  (change)="upload($event ,'Cover',
                  'urlCoverPhoto')" class="upload">
              </div> </div>
  </div>
            </div>

           
          </div>

          <div class="">
            <div class=" container" style="    width: 40%;   top: -30px;">
               <img *ngIf="!currentProfessorProfile.urlMandatoryPhoto" src="https://peacemakersnetwork.org/wp-content/uploads/2019/09/placeholder.jpg" alt="Avatar" class="image" 
                style='
                border: solid;
                border-color: #e4e4e49e;
                border-width: 1px;
                width: 100%;
                 height: 150px;
                 background: #e6e6e69e;
                object-fit: cover;'>

              <img class="image"  style="border-color: #8400ff9e;
                border: solid;
                border-width: 1px;
                margin: 5px;
                height: 150px;
                width: 150px;
                position: relative;"
                *ngIf="currentProfessorProfile.urlMandatoryPhoto"
                src="{{currentProfessorProfile.urlMandatoryPhoto}}"
                />
                  <div class="middle">
    <div class="text">
<div class="change-photo-btn">
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input [disabled]="currentProfessorProfile.published!=0"
                  type="file" accept="image/*"
                  (change)="upload($event ,'Photo',
                  'urlMandatoryPhoto')" class="upload">
              </div>
    </div>
                  </div>
            </div>

           
          </div>
           <div class="upload-img">


             
              
              <small class="form-text text-muted">Allowed JPG, GIF
                or PNG. Max size of 4MB</small>
            </div>






<div >
  <div class="card" style="    border:0px solid #e3e8eb00 !important;">
    <div class="row" >














 <!-- <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Arabic name</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.arabic_name" name=
            'arabic_name' class="form-control" />
        </div>
      </div> -->
      <div class="col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label> Name</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.english_name" name=
            'arabic_name' class="form-control" />
        </div>
      </div>

      <!-- <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label> Arabic General </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.general_ar" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label> Arabic Details </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.details_ar" name=
            'arabic_name' class="form-control" />
        </div>
      </div> -->
      <div class="col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label> Short Biography  </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.details_en" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-12 col-md-12 col-sm-12">
        <div class="form-group">
          <label>  Full Biography </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.general_en" name=
            'arabic_name' class="form-control" />
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label>Youtube URL (Optional)</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.urlvideo" name=
            'arabic_name' class="form-control" />
        </div>
      </div>


      <div class="col-6">
        <div class="form-group">
          <label>TimeZone</label>


           <select [(ngModel)]="currentProfessorProfile.timezone" name='timezone' class="form-control" [disabled]="currentProfessorProfile.published!=0">
             <ng-container *ngFor="let zone of timezones" >
               {{zone.text}}
<option value="{{zone.offset}}">{{zone.text}}</option>
             </ng-container>
            
        

          </select>
          
        </div>
      </div>
       <div class="col-6">
        <div class="form-group">
          <label>Gender</label>


           <select [(ngModel)]="currentProfessorProfile.sexe" name='sexe' class="form-control" [disabled]="currentProfessorProfile.published!=0">
          
          
<option value="0">Male</option>
      <option value="1">Eemale</option>   
            
        

          </select>
          
        </div>
      </div>
  <div class="col-6">
  <div class="submit-section">
   
        <button type="button" *ngIf="currentProfessorProfile.published==0"     (click)="save()" class="btn btn-primary submit-btn">Save Changes</button>
   <br>
<button *ngIf="nextBtn"  class="btn btn-info submit-btn"  (click)="next()"  >Next  </button>
      </div>
  </div>

   
     
    
 <div  >
                            
                             </div>
      <!-- /Profile Settings Form -->

    </div>
  </div>
</div>
<!-- /Page Content -->










        
    </div>


      <div class="container-fluid row" *ngIf="isApprouved==3" >
        





      <div class="col-4">
        <div class="form-group">
          <label>Bank Name</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.nameBank" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label> Bank Detail</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.detailBank" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label> Bank Number </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="number"
            [(ngModel)]="currentProfessorProfile.accountNumberBank"
            name= 'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label> Swift Number </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.swiftBank" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Iban</label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.ibanBank" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Country Bank </label>
          <input [disabled]="currentProfessorProfile.published!=0" type="text"
            [(ngModel)]="currentProfessorProfile.countryBank" name=
            'arabic_name' class="form-control" />
        </div>
      </div>
 <div class="submit-section">
        <br> <br> <br>
        <button type="button" *ngIf="currentProfessorProfile.published==0"     (click)="save()" class="btn btn-primary submit-btn">Save Changes</button>
   <br>
<button *ngIf="nextBtn"  class="btn btn-info submit-btn"  (click)="next()"  >Next  </button>
      </div>

    </div>


      <div class="container-fluid row" *ngIf="isApprouved==4" >
        
           <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>Arabic Speaker?</label>
          <select [(ngModel)]="currentProfessorProfile.arabic" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>



        </div>
      </div>
      <div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>English Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.english" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>

<div class="col-6 col-md-6 col-sm-12">
        <div class="form-group">
          <label>French Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.French" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>

<div class="col-6 col-md-6 col-sm-12" *ngIf="Chinese || currentProfessorProfile.Chinese" >
        <div class="form-group">
          <label>Chinese Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Chinese" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>

      <div class="col-6 col-md-6 col-sm-12" *ngIf="Hindi || currentProfessorProfile.Hindi" >
        <div class="form-group">
          <label>Hindi Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Hindi" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>


  <div class="col-6 col-md-6 col-sm-12" *ngIf="Spanish || currentProfessorProfile.Spanish" >
        <div class="form-group">
          <label>Spanish Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Spanish" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>

 <div class="col-6 col-md-6 col-sm-12" *ngIf="Russian || currentProfessorProfile.Russian" >
        <div class="form-group">
          <label>Russian Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Russian" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>



 <div class="col-6 col-md-6 col-sm-12" *ngIf="Bengali || currentProfessorProfile.Bengali" >
        <div class="form-group">
          <label>Bengali Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Bengali" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>
 <div class="col-6 col-md-6 col-sm-12" *ngIf="Portuguese || currentProfessorProfile.Portuguese" >
        <div class="form-group">
          <label>Portuguese Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Portuguese" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>
       <div class="col-6 col-md-6 col-sm-12" *ngIf="Indonesian || currentProfessorProfile.Indonesian" >
        <div class="form-group">
          <label>Indonesian Speaker?</label>

          <select [(ngModel)]="currentProfessorProfile.Indonesian" name=
            'arabic_name' class="form-control"
            [disabled]="currentProfessorProfile.published!=0">
            <option value="0">None , A1 , A2 , B1 </option>
            <option value="1">B2 Upper Intermediate	</option>
            <option value="2">C1	Advanced</option>
            <option value="3">C2	Fluency</option>

          </select>
        </div>
      </div>
       <div class="col-4 col-md-4 col-sm-12" >
        <div class="form-group">
          <label style="color: #9191919e;">Add Language </label>

          <select [(ngModel)]="AddLanguage" name= 'arabic_name' class="form-control"   [disabled]="currentProfessorProfile.published!=0" #device (change)="onChange($event, device.value)" >
    
          <option></option>
            <option *ngIf="!Chinese"  (click)="Chinese=true" >Chinese </option>
           
            <option *ngIf="!Hindi"  (click)="Hindi=true">Hindi </option>
            <option *ngIf="!Spanish"  (click)="Spanish=true">Spanish </option>
            <option *ngIf="!Bengali"  (click)="Bengali=true">Bengali </option>
           
            <option *ngIf="!Russian"  (click)="Russian=true">Russian </option>
            <option *ngIf="!Portuguese"  (click)="Portuguese=true">Portuguese </option>
            <option *ngIf="!Indonesian"  (click)="Indonesian=true">Indonesian </option>

          </select>
        </div>
      </div>


    

 <div class="submit-section">
        <br> <br> <br>
        <button type="button" *ngIf="currentProfessorProfile.published==0"     (click)="save()" class="btn btn-primary submit-btn">Save Changes</button>
   <br>
<button *ngIf="nextBtn"  class="btn btn-info submit-btn"  (click)="next()"  >Next  </button>
      </div>

    </div>
  <div class="container-fluid" *ngIf="isApprouved==5" >

<div class="row card" style="margin: 3px;">
  <div class="col-sm-12">
    <div class="">
      <div class="card-body">
        <h4 class="card-title">Tarif </h4>
        <button *ngIf="!show" (click)="showAdd()">+</button>
        <button *ngIf="show" (click)="hideAdd()">-</button>
      </div>
    </div>


    <div class="" *ngIf="show" style="padding: 10px;">

      <div class="row">



        <div class="col-sm-6">
          <br>
          <label for="matiereId">Matiere </label>
          <select class="form-control" [(ngModel)]='matiereId'
            (change)='categoryId=0'>
            <ng-container *ngFor="let matier of matiers">
              <option value="{{matier.id}}">{{matier.englishName}}{{matier.arabicName}}</option>
            </ng-container>

          </select>

        </div>
        <div class="col-sm-6" *ngIf="matiereId>0" >
          <br>
          <label for="matiereId">Category </label>
          <select class="form-control" [(ngModel)]='categoryId'
            (change)='LevelId=0'>
            <ng-container *ngFor="let Category of categorys">
              <ng-container *ngIf="Category.matiereId == matiereId">



                <option value="{{Category.id}}">{{Category.CategoryNameArabic}}{{Category.CategoryNameEnglish}}
                </option>
              </ng-container>
            </ng-container>

          </select>

        </div>
      
        <div class="col-sm-12" *ngIf=" categoryId>0&& matiereId>0" >
          <br>
          <label for="matiereId">Tarif ($) </label>
          <input class="form-control" type="number" [(ngModel)]='price'>
        </div>


        <div class="col-sm-6" *ngIf=" matiereId>0&& categoryId>0&&    price>0" >
          <br><br><br>
          <button (click)="Add()" class="btn btn-info">Add</button>
        </div>


      </div>
    </div>

  </div>
</div>
<div class="row">


 

  <table class="table"  style="border: none i !important;">
    <tr *ngFor="let Tarif of Tarifs" >
<td style="    min-width: 250px;"> {{Tarif.name}} </td>
<td style="    min-width: 70px;"> {{Tarif.price}} $ </td>
<td>
 <div (click)="delete(Tarif.id)" class="circle-bar">
        <div class="icon-col">
          <i class="fas fa-trash" style="color: rgb(255, 0, 0);"></i>
        </div>
      </div>
</td>
    </tr>
  </table>
<button *ngIf="Tarifs.length>0"  class="btn btn-info submit-btn"  (click)="next()"  >Next  </button>
</div>

  </div>
    <div class="" *ngIf="isApprouved==6" >
         


        <div class="">
        <div class="container">
         
          <img *ngIf="!currentProfessorProfile.passport" class="image" 
            src="https://www.nxp.com/assets/images/en/blogs/Can-we-trust-passports.jpg"
            
            style='
            border: solid;
            border-color: #d8d8d89e;
            border-width: 1px;
            width: 100%;
            height: 150px;
            object-fit: cover;' />
             <img *ngIf="currentProfessorProfile.passport" class="image" 
            src="{{currentProfessorProfile.passport}}"
            
            style='
            border: solid;
            border-color: #9191919e;
            border-width: 1px;
             width: 100%;
            height: 150px;
            object-fit: cover;' />
        </div>





         <div class="middle">
    <div class="text">
<div class="change-photo-btn">
            <span><i class="fa fa-upload"></i> Upload Passport</span>
            <input [disabled]="currentProfessorProfile.published!=0" type="file"
              accept="image/*"
              (change)="upload($event ,'passport',
              'passport')" class="upload">
          </div>
    </div>
                  </div>


        <div class="upload-img">


          
          <small class="form-text text-muted">Allowed JPG, GIF
            or PNG. Max size of 4MB</small>
        </div>
      </div> 
      

         
  <button type="button" *ngIf=" currentProfessorProfile.passport"     (click)="save()" class="btn btn-primary submit-btn">Save Changes</button>

 <button *ngIf="nextBtn"  class="btn btn-info submit-btn"  (click)="next()"  >Next  </button>

    </div>
    <div class="container-fluid" *ngIf="isApprouved==7" >
        <div class="row">



<div class="form-group">



    <iframe width="560" height="315" src="https://www.youtube.com/embed/xZTJzVf4Efg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua.
     <br> <br> <br>
							<div class="custom-control custom-control-xs custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									name="agreeCheckboxUser1" id='agreeCheckboxUser1' [(ngModel)]="agreeCheckboxUser1" 
								>
								<label class="custom-control-label" for="agreeCheckboxUser1">I agree to
									Taleb</label> <a tabindex="-1" >Privacy
									Policy</a> &amp; <a tabindex="-1" > Terms.</a>
							</div>
						</div>
                        <div *ngIf="agreeCheckboxUser1" >
                            <button class="btn btn-info submit-btn"  (click)="next()"  >
Next
                            </button>
                             </div>
        </div>

    </div>
</div>
<!-- /Page Content -->



        </div>
        </div>
        </div>
        
        </div>
        
        </div>
