
<div *ngIf="currentProfessorProfile">
  <button (click)="save()"> Save</button>
  <table class='table'>
    <tr>
      <td></td>

      <td>Sunday</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>

    </tr>

    <tr>
      <td>0:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h0"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>01:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h1"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>02:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h2"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>03:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h3"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>4:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h4"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>5:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h5"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>

    <tr>
      <td>6:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h6"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>7:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h7"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>8:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h8"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>9:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h9"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>

    <tr>
      <td>10:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h10"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>11:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h11"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>12:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h12"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>13:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h13"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>14:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h14"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>15:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h15"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>

    <tr>
      <td>16:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h16"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>17:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h17"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>18:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h18"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>19:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h19"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>20:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h20"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>21:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h21"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>22:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h22"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>
    <tr>
      <td>23:00</td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d1_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d2_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d3_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d4_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d5_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d6_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
      <td> <input type="checkbox" [(ngModel)]="currentProfessorProfile.d7_h23"
          ng-true-value="1" ng-false-value="0" ng-checked="checkbox == 1"> </td>
    </tr>


  </table>


</div>
