<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="doctorSidebar" class="col-md-5 col-lg-4 col-xl-3">
                <app-sidemenu></app-sidemenu>
            </div>

            <div [className]="doctorSidebar ? 'col-md-7 col-lg-8 col-xl-9' :
                'col-md-12 col-lg-11 col-xl-10'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
