

<div class="row">

  <button class="btn btn-primary" type="submit" (click)="joinMeeting('77983780934','eW9oT2NlYmQzNzRoYU95dnYxZEpvdz09')">join Meeting</button>

  <button class="btn btn-primary" type="submit" (click)="CreateMeeting()">Create Meeting</button>
</div>


