<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Data Tables</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
            <li class="breadcrumb-item active">Matieres</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->









    <div class="row">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-body">

            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="datatable table table-stripped">
                <thead>
                  <tr>
                    <th>photo</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>phone </th>
                    <th>user Type</th>
                    <th>birth date</th>
                    <th>country</th>
                    <th>active</th>
                    <th>approuved</th>

                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let user of users ; let i= index">
                   <td><img src="{{user.photo}}" width="100" height="100">  </td>
                  <td>{{user.firstName}} </td>
                  <td>{{user.lastName}} </td>
                  <td>{{user.email}} </td>
                  <td>{{user.PhoneNumber}} </td>
                  <td>{{user.userType}} </td>
                  <td>{{user.birthFate}} </td>
                  <td>{{user.country}} </td>
                  <td><button class="btn btn-rounded btn-outline-secondary mr-1" (click)="active(user)">
                   <div *ngIf="user.active == 0">Activate</div>
                   <div *ngIf="user.active == 1">Deny</div>
                  </button>
                  </td>









                  </tr>


                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Main Wrapper -->
