<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">

          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin'">{{"ADMIN.DASHBOARD" | translate}}</a></li>
            <li class="breadcrumb-item active">{{"ADMIN.MATIERES" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="matiereForm" (ngSubmit)="onSubmitForm()">
              <div class="form-row">

                <div class="col-md-3 mb-3">

                  <label for="englishName">{{"ADMIN.ENGLISHNAME" | translate}}</label>
                  <input type="text" class="form-control mb-3"
                    placeholder="English Name"
                    formControlName="englishName" id="englishName" />

                </div>


                <div class="col-md-6 mb-6">

                  <label for="englishDescription">{{"ADMIN.ENGLISHDESCRIPTION" | translate}}</label>
                  <input type="text" class="form-control mb-6"
                    placeholder="english Description"
                    formControlName="englishDescription" id="englishDescription"
                    />

                </div>
              </div>
              <div class="form-row">
                <div class="col-md-3 mb-3">

                  <label for="arabicName">{{"ADMIN.ARABICNAME" | translate}}</label>
                  <input type="text" class="form-control mb-3"
                    placeholder="Arabic Name"
                    formControlName="arabicName" id="arabicName" />

                </div>

                <div class="col-md-6 mb-6">

                  <label for="arabicDescription">{{"ADMIN.ARABICDESCRIPTION" | translate}}</label>
                  <input type="text" class="form-control mb-6"
                    placeholder="arabic Description"
                    formControlName="arabicDescription" id="arabicDescription"
                    />
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 mb-4">
                  <button class="btn btn-primary" type="submit">{{"ADMIN.SAVE" | translate}}</button>
                </div>
              </div>



            </form>
          </div>


        </div>
      </div>

    </div>











    <div class="row">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-body">

            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="datatable table table-stripped">
                <thead>
                  <tr>
                    <th>{{"ADMIN.ENGLISHNAME" | translate}}</th>
                    <th>{{"ADMIN.ENGLISHDESCRIPTION" | translate}}</th>
                    <th> {{"ADMIN.ARABICNAME" | translate}}</th>
                    <th>{{"ADMIN.ARABICDESCRIPTION" | translate}}</th>

                    <th>{{"ADMIN.CONTROL" | translate}}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let matier of matiers ; let i= index">


                    <td>
                      <div *ngIf="!matier.isEdit">{{matier.englishName}}
                      </div>
                      <div *ngIf="matier.isEdit">
                        <input type="text" class="form-control"
                          name="englishName" [(ngModel)]="matier.englishName" />
                      </div>

                    </td>
                    <td>
                      <div *ngIf="!matier.isEdit">{{matier.englishDescription}}
                      </div>
                      <div *ngIf="matier.isEdit">
                        <input type="text" class="form-control"
                          name="englishDescription"
                          [(ngModel)]="matier.englishDescription" />
                      </div>

                    </td>
                    <td>
                      <div *ngIf="!matier.isEdit">{{matier.arabicName}}
                      </div>
                      <div *ngIf="matier.isEdit">
                        <input type="text" class="form-control"
                          name="arabicName" [(ngModel)]="matier.arabicName" />
                      </div>

                    </td>
                    <td>
                      <div *ngIf="!matier.isEdit">{{matier.arabicDescription}}
                      </div>
                      <div *ngIf="matier.isEdit">
                        <input type="text" class="form-control"
                          name="arabicDescription"
                          [(ngModel)]="matier.arabicDescription" />
                      </div>

                    </td>




                    <td>
                      <button class="btn btn-rounded btn-outline-danger mr-1"
                        (click)="deleterow(matier)">{{"ADMIN.DELETE" | translate}}</button>
                      <button class="btn btn-rounded btn-outline-secondary mr-1"
                        (click)="updaterow(matier)">{{"ADMIN.UPDATE" | translate}}</button>


                      <button *ngIf="matier.isEdit" class="btn btn-rounded
                        btn-outline-secondary mr-1"
                        (click)="saveChanges(matier)">{{"ADMIN.SAVE" | translate}}</button>


                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Main Wrapper -->
