 <div class="page-wrapper">
    <div class="content container-fluid row">

        <div class="col-12">


            <div class="profile-img">
                <div class="upload-img">


                    <div class="change-photo-btn">
                        <span><i class="fa fa-upload"></i> Upload Certification</span>
                        <input type="file" accept="image/*"
                            (change)="upload($event ,'Photo', 'Certifications')"
                            class="upload">
                    </div>
                    <small class="form-text text-muted">Allowed JPG, GIF
                        or PNG. Max size of 4MB</small>
                </div>
                <img style="border-color: #8400ff9e;
                    border: solid;
                    border-width: 1px;
                    margin: 5px;
                    height: 250px;
                    width: 150px;
                    position: relative;"
                    *ngIf="CertificationsAdd"
                    src="{{CertificationsAdd}}"
                    />
            </div>

            <input type="text" placeholder="Name Of Certification"
                class="form-control" [(ngModel)]="nameOfCertification"
                *ngIf="CertificationsAdd">
            <input type="date" placeholder="end of Validity Date"
                class="form-control" [(ngModel)]="endDateValidity"
                *ngIf="CertificationsAdd">
            <button (click)="addProfessorsCertifications()" class="btn
                btn-warning" *ngIf="CertificationsAdd"> Add Certifications</button>
        </div>



        <div *ngFor="let Certification of Certifications" class="col-md-12
            col-lg-4 dash-board-list yellow">
            <div class="dash-widget">
                <div (click)="delete(Certification.id)"
                    *ngIf="currentProfessorProfile.published==0"
                    class="circle-bar">
                    <div class="icon-col">
                        <i class="fas fa-trash" style="color: rgb(255, 0, 0);"></i>
                    </div>
                </div>
                <div class="dash-widget-info">

                    <img style="border-color: #8400ff9e;
                        border: solid;
                        border-width: 1px;
                        margin: 5px;
                        height: 250px;
                        width: 150px;
                        position: relative;"
                        *ngIf="Certification.urlOfCertification"
                        src="{{Certification.urlOfCertification}}"
                        />


                    <h3 *ngIf="Certification.endDateValidity">{{Certification.endDateValidity}}</h3>
                    <h6 *ngIf="Certification.nameOfCertification">{{Certification.nameOfCertification}}
                    </h6>
                </div>
            </div>
        </div>


    </div>
</div>