.an-tag {
  box-shadow: inherit;
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  display: inline-block;
  padding: 0;
  color: #555;
  vertical-align: middle;
  max-width: 100%;
  cursor: text;
  border-radius: 0.25rem;
  padding-bottom: 10px;
}
.an-tag .angular-tag-input__input {
  padding: 0 !important;
}
.submit-btn{
      min-width: 180px;
    margin: 2px;
}
    .container {
  position: relative;
  width: 100%;
}

 .container2 {
  position: relative;
  width: 40%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf4f00;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
