<!-- Page Content -->
<div class="bg-pattern-style">
	<div class="content">
		<!-- Login Tab Content -->
		<div class="account-content">
			<div class="account-box">
				<div class="login-right">
					<div class="login-header">
						<h3>Login <span>Taleb</span></h3>
						<p class="text-muted"><a (click)="otpshow=true"  >Phone</a> or <a  (click)="otpshow=false"  >Email</a></p>
					</div>

					<form *ngIf="otpshow" >



<div class="login-right otp" *ngIf="showotp" >
<div class="content">
  <div class="o-c">
    <div>
      <div class="card" style="    border-radius: 20px !important;    padding: 30px;">
        <p class="a-o-i">Enter verification code</p>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>

      </div>
        <span *ngIf="otp" class="o-t-p">Entered otp :{{otp}}</span>
    </div>
  </div>

</div>

<div *ngIf="checkotpbtn" style="    text-align: center;" >
     <br>
    <button class="btn btn-info submit-btn"  (click)="CheckOtp(otp)"  >Check OTP </button>

					</div>
					</div>


						<div *ngIf="!showotp" >
<div class="row">
							<div class="col-lg-3">
								<div class="form-group">
									<label class="form-control-label">Country</label>
									<select name="country" id="country" class="form-control" [(ngModel)]='country'>
										<ng-container *ngFor="let _country of countries">
											<option value="{{_country.dial_code}}">
												{{_country.name}}
											</option>
										</ng-container>

									</select>

								</div>
							</div>
							<div class="col-lg-9">
								<div class="form-group">
									<label class="form-control-label">Phone </label>
									<input class="form-control" [(ngModel)]='mobile' name="mobile" id='mobile' type='number' pattern='tel'>
								</div>
							</div>
						</div>



						<button class="btn btn-primary btn-block btn-lg login-btn" type="button"
							(click)="login(this.userName,this.password)">Login</button>
						<div class="text-center dont-have">Don’t have an account? <a class="mr-2"
								[routerLink]="'/register'">Register</a> <a [routerLink]="''">Home</a></div>
						</div>

					</form>
					<form *ngIf="!otpshow" >
						<div class="form-group">
							<label class="form-control-label"> Email</label>
							<input type="text" name="userName" id="userName" class="form-control
								floating" [(ngModel)]="userName">
						</div>
						<div class="form-group">
							<label class="form-control-label">Password</label>
							<input type="password" name="password" id="password" class="form-control
								floating" [(ngModel)]="password">
						</div>

						<div class="text-right">
							<a class="forgot-link" [routerLink]="'/forgot-password'">Forgot Password
								?</a>
						</div>
						<button class="btn btn-primary btn-block btn-lg login-btn" type="button"
							(click)="login(this.userName,this.password)">Login</button>
					<!--<div class="text-center dont-have">Don’t have an account? <a class="mr-2"
								[routerLink]="'/register'">Register</a> <a [routerLink]="''">Home</a></div>-->
					</form>
				</div>
			</div>
		</div>
		<!-- /Login Tab Content -->
	</div>
</div>
