<!-- Page Content -->
<div class="row">
  <div class="col-12 custom-edit-service">
    <div class="card">
      <div class="card-body">
        <h3 class="pb-3">{{text}}</h3>
        <form>
          <div class="service-fields mb-3">
            <h4 class="heading-2">Service Information</h4>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Blog Title <span class="text-danger">*</span></label>
                  <input class="form-control" type="text" value="Abacus Study
                    for beginner - Part I">
                </div>
              </div>
            </div>
          </div>
          <div class="service-fields mb-3">
            <h4 class="heading-2">Blog Category</h4>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Category <span class="text-danger">*</span></label>
                  <ng-select2 [data]="exampleData" width="100%">
                    <option>Select</option>
                    <option value="1">Abacus Study for beginner - Part I</option>
                    <option value="2" selected="selected">Abacus Study for
                      beginner - Part II</option>
                    <option value="3">Abacus Study for beginner - Part III</option>
                  </ng-select2>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Sub Category <span class="text-danger">*</span></label>
                  <ng-select2 [data]="exampleData" width="100%">
                    <option>Select</option>
                    <option value="1">Abacus Study for experienced - Part I</option>
                    <option value="2" selected="selected">Abacus Study for
                      experienced - Part II</option>
                    <option value="3">Abacus Study for experienced - Part III</option>
                  </ng-select2>
                </div>
              </div>
            </div>
          </div>
          <div class="service-fields mb-3">
            <h4 class="heading-2">Blog Details</h4>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Descriptions <span class="text-danger">*</span></label>
                  <textarea id="about" class="form-control service-desc"
                    name="about">note.</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="service-fields mb-3">
            <h4 class="heading-2">Blog Images </h4>
            <div class="row">
              <div class="col-lg-12">
                <div>
                  <ngx-dropzone (change)="onSelect($event)"
                    class="service-upload">
                    <ngx-dropzone-label>Drop files here to upload</ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                      [file]="f" [removable]="true" (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>
                <div class="upload-wrap">
                  <div class="upload-images">
                    <img src="assets/img/blog/blog-thumb-01.jpg" alt="Upload
                      Image">
                    <a href="javascript:void(0);" class="btn btn-icon btn-danger
                      btn-sm"><i class="far fa-trash-alt"></i></a>
                  </div>
                  <div class="upload-images">
                    <img src="assets/img/blog/blog-thumb-02.jpg" alt="Upload
                      Image">
                    <a href="javascript:void(0);" class="btn btn-icon btn-danger
                      btn-sm"><i class="far fa-trash-alt"></i></a>
                  </div>
                  <div class="upload-images">
                    <img src="assets/img/blog/blog-thumb-03.jpg" alt="Upload
                      Image">
                    <a href="javascript:void(0);" class="btn btn-icon btn-danger
                      btn-sm"><i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="button"
              (click)="submit()" name="form_submit" value="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->