<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <!-- Sidebar -->
        <div class="profile-sidebar">
          <div class="user-widget">
            <div class="pro-avatar">JD</div>
            <div class="rating">
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star filled"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="user-info-cont">
              <h4 class="usr-name">Jonathan Doe</h4>
              <p class="mentor-type">English Literature (M.A)</p>
            </div>
          </div>
          <div class="progress-bar-custom">
            <h6>Complete your profiles ></h6>
            <div class="pro-progress">
              <div class="tooltip-toggle" tabindex="0"></div>
              <div class="tooltip">80%</div>
            </div>
          </div>
          <div class="custom-sidebar-nav">
            <ul>
              <li><a [routerLink]="'/mentee/dashboard'"><i class="fas fa-home"></i>Dashboard
                  <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentee/booking'"><i class="fas fa-clock"></i>Bookings
                  <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/schedule-timing'"><i class="fas
                    fa-hourglass-start"></i>Schedule Timings <span><i class="fas
                      fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/message'"><i class="fas fa-comments"></i>Messages
                  <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentor/blog'"><i class="fab fa-blogger-b"></i>Blog
                  <span><i class="fas fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/mentee/profile'"><i class="fas
                    fa-user-cog"></i>Profile <span><i class="fas
                      fa-chevron-right"></i></span></a></li>
              <li><a [routerLink]="'/login-page'"><i class="fas
                    fa-sign-out-alt"></i>Logout <span><i class="fas
                      fa-chevron-right"></i></span></a></li>
            </ul>
          </div>
        </div>
        <!-- Sidebar -->
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <!-- Change Password Form -->
                <form>
                  <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control">
                  </div>
                  <div class="submit-section">
                    <button type="button" class="btn btn-primary submit-btn">Save
                      Changes</button>
                  </div>
                </form>
                <!-- /Change Password Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->