<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">List of Mentor</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
            <li class="breadcrumb-item active">Mentor</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="datatable table table-stripped">
                <thead>
                  <tr>




                  </tr>
                  <tr></tr>
                </thead>
                <tbody>

                  <tr *ngFor="let mentor of mentors ; let i= index">

                    <td>
                      <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bottom">
                          <li class="nav-item"><a class="nav-link active" href="#bottm-tab-personnal{{mentor.id}}" data-toggle="tab">Personnal Informations</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottm-tab-mpicture{{mentor.id}}" data-toggle="tab">Mandatory picture</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottm-tab-cpicture{{mentor.id}}" data-toggle="tab">Coverpicture</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottm-tab-video{{mentor.id}}" data-toggle="tab">Video</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottm-tab-general{{mentor.id}}" data-toggle="tab"> General</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottm-tab-details{{mentor.id}}" data-toggle="tab">Details</a></li>
                          <li class="nav-item"><a class="nav-link" href="#bottom-tab-payment{{mentor.id}}" data-toggle="tab">Payment Informations</a></li>

                        </ul>

                        <div class="tab-content">
                          <div class="tab-pane show active" id="bottm-tab-personnal{{mentor.id}}">
                            <div>
                             <strong>Arabic name :</strong>  {{mentor.arabic_name}}
                             <strong>English name :</strong> {{mentor.english_name}}
                             <strong>Phone number :</strong> {{mentor.english_name}}
                            </div>
                          </div>

                          <div class="tab-pane" id="bottm-tab-mpicture{{mentor.id}}">
                            <div>
                              <img src="{{mentor.urlMandatoryPhoto}}" height="150px" width="200px">
                            </div>
                          </div>
                          <div class="tab-pane" id="bottm-tab-cpicture{{mentor.id}}">
                            <div>
                              <img src="{{mentor.urlCoverPhoto}}" height="150px" width="200px">
                            </div>
                          </div>
                          <div class="tab-pane" id="bottm-tab-video{{mentor.id}}">
                            <div>
                              <iframe width="150" height="100" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                              </iframe>
                            </div>
                          </div>
                          <div class="tab-pane" id="bottm-tab-general{{mentor.id}}">
                            <div class="row">
                              <div class="col-xl-6 d-flex">
                                <p> <strong>Arabic general :</strong> </p>
                                <div class="col-md-10">
                                  <textarea rows="5" cols="5" class="form-control" disabled
                                    placeholder="Enter text here">
                                    {{mentor.general_ar}}
                                  </textarea>
                                </div>


                              </div>
                              <div class="col-xl-6 d-flex">
                                <strong>English general</strong>
                                <div class="col-md-10">
                                <textarea rows="5" cols="5" class="form-control" disabled
                                    placeholder="Enter text here">
                                    {{mentor.general_en}}
                                  </textarea>
                                   </div>

                                </div>
                            </div>


                          </div>


                          <div class="tab-pane" id="bottm-tab-details{{mentor.id}}">
                            <div class="row">
                              <div class="col-xl-6 d-flex">
                                <p> <strong>Arabic details :</strong> </p>
                                <div class="col-md-10">
                                  <textarea rows="5" cols="5" class="form-control" disabled
                                    placeholder="Enter text here">
                                    {{mentor.details_ar}}
                                  </textarea>
                                </div>


                              </div>
                              <div class="col-xl-6 d-flex">
                                <strong>English details</strong>
                                <div class="col-md-10">
                                <textarea rows="5" cols="5" class="form-control" disabled
                                    placeholder="Enter text here">
                                    {{mentor.details_en}}
                                  </textarea>
                                   </div>

                                </div>
                            </div>
                          </div>
                          <div class="tab-pane" id="bottom-tab-payment{{mentor.id}}">
                            <div class="row">
                            <div class="col-xl-4 d-flex">
                            <div>
                              <strong>Bank details: </strong><p> {{mentor.detailBank}}</p>
                            </div>
                          <div>
                            <strong>Bank name: </strong><p> {{mentor.nameBank}}</p>
                          </div>
                           </div>
                           <div class="col-xl-4 d-flex">
                            <div>
                              <strong>Bank account number: </strong><p> {{mentor.accountNumberBank}}</p>
                            </div>
                          <div>
                            <strong>Bank swift: </strong><p> {{mentor.swiftBank}}</p>
                          </div>
                           </div>
                           <div class="col-xl-4 d-flex">
                            <div>
                              <strong>Bank iban: </strong><p> {{mentor.ibanBank}}</p>
                            </div>
                          <div>
                            <strong>Bank country: </strong><p> {{mentor.countryBank}}</p>
                          </div>
                           </div>
                          </div>

                          </div>
                        </div>
                      </div>

                    </td>



                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
