<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="patientSidebar" class="col-md-5 col-lg-4 col-xl-3">
                <app-sidemenu></app-sidemenu>
            </div>

            <div [className]="patientSidebar ? 'col-md-7 col-lg-8 col-xl-9' :
                'col-md-12 col-lg-12 col-xl-12'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
