<div class="row text-center">
   <div class="col-md-4">
      <div class="btn-group">
         <div class="btn btn-primary" (click)="decrement()">
            Previous
         </div>
         <div class="btn btn-default" (click)="today()">
            Today
         </div>
         <div class="btn btn-primary" (click)="increment()">
            Next
         </div>
      </div>
   </div>
   <div class="col-md-8">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
   </div>

</div>
<br>
<div [ngSwitch]="view">
   <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate"
      [events]="events" [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)">
   </mwl-calendar-month-view>
   <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
      [events]="events">
   </mwl-calendar-week-view>
   <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate"
      [events]="events">
   </mwl-calendar-day-view>
</div>