<div class="card">
	<div class="card-body">
		<!-- Profile Settings Form -->
		<form>
			<div class="row form-row">
				<div class="col-12 col-md-12">
					<div class="form-group">
						<div class="change-avatar">
							<div class="profile-img">
								<img [src]="photo" alt="User Image">
							</div>
							<div class="upload-img">
								<div class="change-photo-btn">
									<span><i class="fa fa-upload"></i> {{ "MENTEE.CALENDAR" | translate }}</span>
                  <input
                  type="file" accept="image/*"
                  (change)="upload($event ,'Photo',
                  'profileClient')" class="upload">
								</div>
								<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of
									2MB</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{ "MENTEE.FIRSTNAME" | translate }}</label>
						<input type="text" class="form-control" [(ngModel)]='firstName' name="firstName">
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{ "MENTEE.LASTNAME" | translate }}</label>
						<input type="text" class="form-control"  [(ngModel)]='lastName' name="lastName">
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{ "MENTEE.BIRTHDATE" | translate }}</label>
						<div class="cal-icon">
							<input type="text" class="form-control datetimepicker"	 [(ngModel)]='birthDate' name='birthDate'>
						</div>
					</div>
				</div>
        <div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{"MENTEE.GENDER" | translate}}</label>

						<select name="sexe" id="" class="form-control" [(ngModel)]='sexe' >
               <option value="0"></option>
               <option value="1">Man</option>
               <option value="2">Female</option>
               <option value="3">Other</option>
            </select>

					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{"MENTEE.EMAIL" | translate}}</label>
						<input type="email" class="form-control"  [(ngModel)]="email" name="email">
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{"MENTEE.MOBILE" | translate}}</label>
						<input type="text"  class="form-control" [(ngModel)]="PhoneNumber" name="PhoneNumber">
					</div>
				</div>

				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{"MENTEE.FROM" | translate}}</label>
						<input type="text" class="form-control"  [(ngModel)]='countrybirth' name ="countrybirth">
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>{{"MENTEE.LIVINGIN" | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]='countryliving' name="countryliving">
					</div>
				</div>
     <!--   <div class="col-12">
					<div class="form-group">
						<label>Languages</label>
						<input type="text" class="form-control" >
					</div>
				</div>
        -->
       <!-- <div class="col-12">
					<div class="form-group">
						<label>Timezone</label>
						<input type="text" class="form-control"  [(ngModel)]='timezone' name="timezone">
					</div>
				</div>
-->


			</div>
			<div class="submit-section">
				<button type="button" (click)="save()" class="btn btn-primary submit-btn">{{"MENTEE.SAVECHANGES" | translate}}</button>
			</div>
		</form>
		<!-- /Profile Settings Form -->
	</div>
</div>
