<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Data Tables</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
            <li class="breadcrumb-item active">Level</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <div class="form-row">

              <div class="col-md-3 mb-3">

                <label for="matiereId">Matiere </label>
                <select [(ngModel)]='matiereId' (change)='categoryId=0'>
                  <ng-container *ngFor="let matier of matiers">
                    <option value="{{matier.id}}">{{matier.englishName}}{{matier.arabicName}}</option>
                  </ng-container>

                </select>

              </div>
              <div class="col-md-3 mb-3" *ngIf="matiereId>0" >

                <label for="matiereId">Category </label>
                <select [(ngModel)]='categoryId'>
                  <ng-container *ngFor="let Category of categorys">
                    <ng-container *ngIf="Category.matiereId == matiereId">
                      <option value="{{Category.id}}">{{Category.CategoryNameArabic}}{{Category.CategoryNameEnglish}}
                      </option>
                    </ng-container>
                  </ng-container>

                </select>

              </div>
              <div class="col-md-3 mb-3" *ngIf="categoryId>0" >

                <label for="LevelNameEnglish">level english Name</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="LevelNameEnglish" />

              </div>

              <div class="col-md-3 mb-3" *ngIf="categoryId>0" >

                <label>level arabic Name</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="LevelNameArabic" />

              </div>


              <div class="col-md-3 mb-3" *ngIf="categoryId>0" >

                <label for="LevelNameEnglish">level english description</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="LevelDescriptionEnglish" />

              </div>

              <div class="col-md-3 mb-3" *ngIf="categoryId>0" >

                <label>level arabic description</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="LevelDescriptionArabic" />

              </div>



            </div>


            <div class="form-row">
              <div class="col-md-4 mb-4" *ngIf="categoryId>0" >
                <button class="btn btn-primary" (click)="save()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-body">

            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="datatable table table-stripped">
                <thead>
                  <tr>
                    <th>Matière</th>
                    <th>Category</th>
                    <th>EN Level </th>
                    <th>EN Level description</th>
                    <th>AR Level </th>
                    <th>AR Level description</th>
                    <th>Control</th>
                  </tr>
                </thead>
                <tbody>




                  <tr *ngFor="let Level of Levels ; let i= index">
                    <td>
                      <div *ngIf="Level.matier">{{Level.matier.englishName }}</div>
                    </td>
                    <td>
                      <div *ngIf="Level.category">{{Level.category.CategoryNameEnglish
                        }}</div>

                    </td>




                    <td>
                      <div *ngIf="!Level.isEdit">{{Level.LevelNameEnglish}}
                      </div>
                      <div *ngIf="Level.isEdit">
                        <input type="text" class="form-control"
                          name="LevelNameEnglish"
                          [(ngModel)]="Level.LevelNameEnglish" />
                      </div>
                    </td>
                    <td>
                      <div *ngIf="!Level.isEdit">{{Level.LevelNameArabic}}
                      </div>
                      <div *ngIf="Level.isEdit">
                        <input type="text" class="form-control"
                          name="LevelNameArabic"
                          [(ngModel)]="Level.LevelNameArabic" />
                      </div>

                    </td>
                    <td>
                      <div *ngIf="!Level.isEdit">{{Level.LevelDescriptionEnglish}}
                      </div>
                      <div *ngIf="Level.isEdit">
                        <input type="text" class="form-control"
                          name="LevelDescriptionEnglish"
                          [(ngModel)]="Level.LevelDescriptionEnglish" />
                      </div>

                    </td>

                    <td>
                      <div *ngIf="!Level.isEdit">{{Level.LevelDescriptionArabic}}
                      </div>
                      <div *ngIf="Level.isEdit">
                        <input type="text" class="form-control"
                          name="LevelDescriptionArabic"
                          [(ngModel)]="Level.LevelDescriptionArabic" />
                      </div>

                    </td>


                    <td>
                      <button class="btn btn-rounded btn-outline-danger mr-1"
                        (click)="deleterow(Level)">Remove</button>
                      <button class="btn btn-rounded btn-outline-secondary mr-1"
                        (click)="updaterow(Level)">update</button>


                      <button *ngIf="Level.isEdit" class="btn btn-rounded
                        btn-outline-secondary mr-1"
                        (click)="saveChanges(Level)">Save</button>


                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Main Wrapper -->
