<!-- Home Banner -->
<ng-template #content let-modal>
  <div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style='text-align: center;'>
      <div class="col-6">
        <img (click)='tutor()' src="assets/img/tutor.png" style='width: 100%;' alt="">
        <ng-container *ngIf="!isEnglish()"> أنا مدرس </ng-container>
        <ng-container *ngIf="isEnglish()"> I'm a Tutor </ng-container>
      </div>
      <div class="col-6">
        <img src="assets/img/client.png" (click)='client()' style='width: 100%;' alt="">
        <ng-container *ngIf="!isEnglish()"> أنا طالب </ng-container>
        <ng-container *ngIf="isEnglish()"> I'm a Student </ng-container>
      </div>

    </div>
  </div>

</ng-template>

<header class="header">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a (click)="home()" class="navbar-brand logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
        </a>

        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a [routerLink]="'/'" class="menu-logo">
              <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>

      </div>
      <ul class="main-nav">
        <li >
          <div class="col-xs-1" *ngIf="!userinfo()">
            <mat-form-field appearance="outline">
              <mat-label > <p #para>Language</p>  </mat-label>
              <mat-select [(value)]="selectedLanguageNOC">
                <mat-option value="ar" (click)="toArabic()">العربية</mat-option>
                <mat-option value="en" (click)="toEnglish()">English</mat-option>
                <mat-option value="fr" (click)="toFrensh()">Français</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

        </li>
                <li >
                  <div class="col-xs-1" *ngIf="!userinfo()">
                    <mat-form-field appearance="outline" >
                      <mat-label #para>Currency</mat-label>
                      <mat-select [(value)]="defaultCurrencyString">
                        <mat-option *ngFor="let currency of CurrencyList" value="{{currency.code}}"
                          (click)="setCurrency(currency.code)">{{currency.text}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </li>


        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow" id="dropdown" *ngIf="userinfo()">
         <a href="javascript:void(0)" class="dropdown-toggle nav-link" class="dropdown-toggle nav-link"
           (click)="user()" [attr.aria-expanded]="!userCollapsed" aria-controls="collapseExample2">
           <span class="user-img"><img class="rounded-circle" [src]="urlPhotoUser"
               width="31"></span>
         </a>
         <div class="dropdown-menu" id="collapseExample2" [ngbCollapse]="userCollapsed">
           <div class="user-header">
             <div class="avatar avatar-sm">
               <img [src]="urlPhotoUser" alt="User Image"
                 class="avatar-img rounded-circle">
             </div>
             <div class="user-text">
               <h6>{{name}}</h6>
              <!-- <p class="text-muted mb-0">Administrator</p> -->
             </div>
           </div>

           <div class="col-xs-1">
            <mat-form-field appearance="outline" >
              <mat-label>Language</mat-label>
              <mat-select [(value)]="selectedLanguageCON">
                <mat-option value="ar" (click)="toArabic()">العربية</mat-option>
                <mat-option value="en" (click)="toEnglish()">English</mat-option>
                <mat-option value="fr" (click)="toFrensh()">Français</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-1">
            <mat-form-field appearance="outline" >
              <mat-label>Currency</mat-label>
              <mat-select [(value)]="defaultCurrencyString">
                <mat-option *ngFor="let currency of CurrencyList" value="{{currency.code}}"
                  (click)="setCurrency(currency.code)">{{currency.text}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-1">
          </div>
          <a  *ngIf="isAdministrator"  class="dropdown-item" (click)="goToAdministration()">{{ "HEADER.ADMINISTRATION" | translate }}</a>
          <a   class="dropdown-item" (click)="goToProfile()">{{ "HEADER.MYPROFILE" | translate }}</a>
          <a class="dropdown-item" (click)="logout()">{{ "HEADER.LOGOUT" | translate }}</a>
         </div>
       </li>
       <li>    <mat-form-field appearance="outline" [style.width.%]="50">
        <mat-label>{{"HEADER.FONTSIZE" | translate}}</mat-label>
        <mat-select [(value)]="selectedValueFont">
          <mat-option value="small" (click)="changeFont(12)">{{"HEADER.SMALL" | translate}}</mat-option>
          <mat-option value="medium" (click)="changeFont(18)">{{"HEADER.MEDIUM" | translate}}</mat-option>
          <mat-option value="large" (click)="changeFont(24)">{{"HEADER.LARGE" | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
       <!-- /User Menu -->
       <li class="nav-item" *ngIf="!userinfo()">
        <a class="nav-link" [routerLink]="'/login-page'">{{ "HEADER.LOGIN" | translate }}</a>
      </li>
       <li class="nav-item" *ngIf="!userinfo()">
        <a class="nav-link header-login" (click)="open(content)">{{ "HEADER.JOINFORFREE" | translate }}
        </a>
      </li>



           </ul>
    </nav>

  </div>



</header>
