
<!-- Mentee List Tab -->
<div class="tab-pane show active" id="mentee-list">
	<div class="card card-table">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover table-center mb-0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead>
						<tr>
              <th class="text-center">{{"MENTEE.TUTOR" | translate}}</th>
              <th class="text-center">{{"MENTEE.DATETIME" | translate}}</th>
							<th class="text-center">{{"MENTEE.SUBJECT" | translate}}</th>
							<th class="text-center">{{"MENTEE.LANGUAGE" | translate}}</th>
              <th class="text-center">{{"MENTEE.PRICE" | translate}}</th>
              <th class="text-center">{{"MENTEE.STATUS" | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let book of bookings">
							<td class="text-center">
								<h2 class="table-avatar">

                    <span class="user-img"><img class="rounded-circle" width="31" src ={{book.photo}} ><p>{{book.tutorName}}</p></span>
								</h2>
							</td>
							 <td class="text-center">{{book.DateDebOfBook | date : 'dd MMM yyyy'}} <p><span class="pending">{{book.hourDeb}} - {{book.hourFin}}</span></p></td>
							<td class="text-center">{{book.subject}}</td>
              <td class="text-center">
               <img *ngIf="book.arabicFlag"  src="assets/img/Flags/arabicFlag.png" height="15" width="15">
                <img *ngIf="book.englishFlag"  src="assets/img/Flags/englishFlag.png" height="15" width="25">
                <img *ngIf="book.bengaliFlag"  src="assets/img/Flags/bengaliFlag.png" height="15" width="25">
                <img *ngIf="book.chineseiFlag"  src="assets/img/Flags/chineseiFlag.png" height="15" width="25">
                <img *ngIf="book.frenshFlag"  src="assets/img/Flags/frenshFlag.png" height="15" width="25">
                <img *ngIf="book.hindiFlag"  src="assets/img/Flags/hindiFlag.png" height="15" width="15">
                <img *ngIf="book.indonesianFlag"  src="assets/img/Flags/indonesianFlag.png" height="15" width="25">
                <img *ngIf="book.portugalFlag"  src="assets/img/Flags/portugalFlag.png" height="15" width="25">
                <img *ngIf="book.russianFlag"  src="assets/img/Flags/russianFlag.png" height="15" width="25">
                <img *ngIf="book.spanishFlag"  src="assets/img/Flags/spanishFlag.png" height="15" width="25">

              </td>
              <td class="text-center">{{book.Price }}</td>
              <td class="text-center"> <div>{{book.statusOfBook}}</div>

                  <div>
                    <span>  <button type="button" class="btn btn-rounded btn-outline-primary mr-1">Reschedule</button></span>

                </div>

                <div  *ngIf="!book.cancelled">
                  <button type="button" class="btn btn-rounded btn-outline-danger mr-1" (click)="cancelBook(book)">Cancel</button>
              </div>

            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Mentee List Tab -->
<!-- /Booking summary -->
