.dash-widget h6 {
  font-size: 16px;
  font-weight: 400;
}
.dash-widget h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

h4.modal-title.pull-left {
  font-size: 20px !important;
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
}

.circle-bar > div canvas {
  width: 90px !important;
  height: 90px !important;
}
