.view-btn {
  color: #1e88e5;
  font-size: 13px;
  border: 2px solid #1e88e5;
  text-align: center;
  display: block;
  font-weight: 500;
  padding: 6px;
}
.book-btn {
  background-color: #1e88e5;
  border: 2px solid #1e88e5;
  color: #fff;
  font-size: 13px;
  text-align: center;
  display: block;
  font-weight: 500;
  padding: 6px;
}
.favorite {
  background: #fff;
  color: #000;
}
.favorite:hover {
  background: #fb1612;
  color: #fff;
}
