<!-- Header -->
<div class="header">

	<!-- Logo -->
	<div class="header-left">
		<a (click)="home()" class="logo">
			<img src="assets/img/logo.png" alt="Logo">
		</a>
		<a (click)="home()" class="logo logo-small">
			<img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
		</a>
	</div>
	<!-- /Logo -->

	<a href="javascript:void(0);" id="toggle_btn">
		<i class="fe fe-text-align-left"></i>
	</a>

	<div class="top-nav-search">
		<form>
			<input type="text" class="form-control" placeholder="Search here">
			<button class="btn" type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<!-- Mobile Menu Toggle -->
	<a class="mobile_btn" id="mobile_btn">
		<i class="fa fa-bars"></i>
	</a>
	<!-- /Mobile Menu Toggle -->

	<!-- Header Right Menu -->
	<ul class="nav user-menu">
		<!-- User Menu -->
		<li class="nav-item dropdown has-arrow" id="dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle nav-link"
				class="dropdown-toggle nav-link" (click)="user()"
				[attr.aria-expanded]="!userCollapsed" aria-controls="collapseExample2">
				<span class="user-img"><img class="rounded-circle"
						src="assets/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan
						Taylor"></span>
			</a>
			<div class="dropdown-menu" id="collapseExample2"
				[ngbCollapse]="userCollapsed">
				<div class="user-header">
					<div class="avatar avatar-sm">
						<img src="assets/admin/img/profiles/avatar-01.jpg" alt="User Image"
							class="avatar-img rounded-circle">
					</div>
					<div class="user-text">
					<!--	<h6>Ryan Taylor</h6>-->
						<p class="text-muted mb-0">Administrator</p>
					</div>
				</div>
			<!--	<a class="dropdown-item" [routerLink]="'/admin/mentor-profile'">My Profile</a>-->
				<a class="dropdown-item" [routerLink]="'settings'">Administration</a>
				<a class="dropdown-item" (click)="clickLogout()">Logout</a>
			</div>
		</li>
		<!-- /User Menu -->

	</ul>
	<!-- /Header Right Menu -->

</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title">
					<span><i class="fe fe-home"></i> Main</span>
				</li>
				<li [routerLink]="'/admin/dashboard'" [class.active]="page === 'dashboard'">
					<a><span>{{"ADMIN.DASHBOARD" | translate}}</span></a>
				</li>
				<li [class.active]="page === 'matiere'">
					<a [routerLink]="'/admin/matiere'"><span>{{"ADMIN.MATIERES" | translate}}</span></a>
				</li>
				<li [class.active]="page === 'category'">
					<a [routerLink]="'/admin/category'"><span>{{"ADMIN.CATEGORIES" | translate}}</span></a>
				</li>
				<li [class.active]="page === 'users'">
					<a [routerLink]="'/admin/users'"><span>{{"ADMIN.USERS" | translate}}</span></a>
				</li>
     <!--   <li [class.active]="page === 'level'">
					<a [routerLink]="'/admin/level'"><span>Levels</span></a>
				</li>-->
				<li [class.active]="page === 'mentor'">
					<a [routerLink]="'/admin/mentor'"><span>{{"ADMIN.MENTOR" | translate}}</span></a>
				</li>
			<!--	<li [class.active]="page === 'mentee'">
					<a [routerLink]="'/admin/mentee'"><span>Mentee</span></a>
				</li>-->
				<li [class.active]="page === 'bookings'">
					<a [routerLink]="'/admin/bookings'"><span>{{"ADMIN.BOOKINGLIST" | translate}}</span></a>
				</li>
<!--
							<li [class.active]="page === 'categories'">
								<a [routerLink]="'/admin/categories'"><span>Categories</span></a>
							</li>

			<li [class.active]="page === 'transactions'">
					<a [routerLink]="'/admin/transactions'"><span>Transactions</span></a>
				</li>
				<li [class.active]="page === 'settings'">
					<a [routerLink]="'/admin/settings'"><span>Settings</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Reports</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'invoice-reports'"><a
								[routerLink]="'/admin/invoice-reports'">Invoice Reports</a></li>
					</ul>
				</li>
				<li class="menu-title">
					<span><i class="fe fe-document"></i> PAGES</span>
				</li>
				<li [class.active]="page === 'mentor-profile'">
					<a [routerLink]="'mentor-profile'"><span>My Profile</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Blog</span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'blog'">
							<a [routerLink]="'blog'">Blog</a>
						</li>
						<li [class.active]="page === 'blog-details'">
							<a [routerLink]="'blog-details'">Blog Details</a>
						</li>
						<li [class.active]="page === 'add-blog'">
							<a [routerLink]="'add-blog'">Add Blog</a>
						</li>
						<li [class.active]="page === 'edit-blog'">
							<a [routerLink]="'edit-blog'">Edit Blog</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Authentication </span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li><a [routerLink]="'login-form'"> Login </a></li>
						<li><a [routerLink]="'register'"> Register </a></li>
						<li><a [routerLink]="'forgot-pass'"> Forgot Password </a></li>
						<li><a [routerLink]="'lock-screen'"> Lock Screen </a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Error Pages </span><span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li><a [routerLink]="'error-first'">404 Error </a></li>
						<li><a [routerLink]="'error-second'">500 Error </a></li>
					</ul>
				</li>
				<li [class.active]="page === 'blank'">
					<a [routerLink]="'blank-page'"><span>Blank Page</span></a>
				</li>
				<li class="menu-title">
					<span><i class="fe fe-star-o"></i> UI Interface</span>
				</li>
				<li [class.active]="page === 'components'">
					<a [routerLink]="'components'"><span>Components</span></a>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Forms </span> <span class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'basic-input'"><a
								[routerLink]="'basic-input'">Basic Inputs </a></li>
						<li [class.active]="page === 'input-groups'"><a
								[routerLink]="'input-groups'">Input Groups </a></li>
						<li [class.active]="page === 'horizondal-form'"><a
								[routerLink]="'horizondal-form'">Horizontal Form </a></li>
						<li [class.active]="page === 'vertical-form'"><a
								[routerLink]="'vertical-form'"> Vertical Form </a></li>
						<li [class.active]="page === 'form-mask'"><a [routerLink]="'form-mask'">
								Form Mask </a></li>
						<li [class.active]="page === 'form-validation'"><a
								[routerLink]="'form-validation'"> Form Validation </a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0)"><span> Tables </span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li><a [class.active]="page === 'basic-tables'"
								[routerLink]="'basic-tables'">Basic Tables </a></li>
						<li><a [class.active]="page === 'admin-data-table'"
								[routerLink]="'admin-data-table'">Data Table </a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="javascript:void(0);"><span>Multi Level</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li class="submenu">
							<a href="javascript:void(0);"> <span>Level 1</span> <span
									class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
								<li class="submenu">
									<a href="javascript:void(0);"> <span> Level 2</span><span
											class="menu-arrow"></span></a>
									<ul style="display: none;">
										<li><a href="javascript:void(0);">Level 3</a></li>
										<li><a href="javascript:void(0);">Level 3</a></li>
									</ul>
								</li>
								<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);"> <span>Level 1</span></a>
						</li>
					</ul>
				</li>
-->
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->
