<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">


      <div class="col-md-12 col-lg-8 col-xl-9">

        <!-- Doctor Widget -->
        <div class="card" *ngFor="let mentor of mentors | slice:0:5" [hidden]="mentors.length === 0">
          <ng-container >
            <ng-container>
              <!-- Mentor Widget -->
              <div class="card-body">
                <div class="mentor-widget">
                  <div class="user-info-left">
                    <div class="mentor-img">
                      <a [routerLink]="'/mentor-profile'" [queryParams]="{id: mentor.id}">
                        <img src="{{mentor.urlMandatoryPhoto}}" class="img-fluid" alt="User
											Image">
                      </a>
                    </div>
                    <div class="user-info-cont">
                      <h4 class="usr-name"><a [routerLink]="'/mentor-profile'" [queryParams]="{id: mentor.id}">{{
                          mentor.firstName }}</a></h4>
                      <p class="mentor-type">{{mentor.Education}}</p>

                      <div class="rating">

                        <table style="margin: auto;">
                          <tr>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>0"> <i class="fas
														fa-star filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>1"> <i class="fas
														fa-star filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>2"><i class="fas fa-star
														filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>3"><i class="fas fa-star
														filled"></i></td>
                            <td *ngIf="(mentor.rating/mentor.rating_n)>4"><i class="fas fa-star
														filled"></i></td>
                          </tr>
                        </table>
                      </div>


                      <div>

                        <button mat-icon-button (click)="FavoriteAction(mentor)" >
                          <mat-icon *ngIf="mentor.selected" aria-label="Example icon-button with a heart icon">
                            favorite
                          </mat-icon>
                          <mat-icon *ngIf="!mentor.selected" aria-label="Example icon-button with a heart icon">
                            favorite_border
                          </mat-icon>

                        </button>

                      </div>
                    </div>
                  </div>






                  <div style="width: 100%;">


                    <div class="col-md-12">
                      <div class="card">

                        <div class="card-body">
                          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab1"
                                data-toggle="tab">{{"MENTEE.GENERAL" | translate}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab2"
                                data-toggle="tab">{{"MENTEE.DETAILS" | translate}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3"
                                data-toggle="tab">{{"MENTEE.CALENDAR" | translate}}</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane show active" id="bottom-justified-tab1">
                              <div> {{mentor.general_en}} </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab2">
                              <div> {{mentor.details_en}} </div>
                            </div>
                            <div class="tab-pane" id="bottom-justified-tab3">



                              <table style="width: 100%;">
                                <tr>
                                  <td style="width: 20%; text-align: center; font-size: 10px;">


                                  </td>
                                  <td style="width: 60%;text-align: center;">
                                    <!-- <ng-container *ngIf="!isEnglish()">{{selectedtext.ar}}
																</ng-container> <ng-container *ngIf="isEnglish()">{{selectedtext.ar}}
																</ng-container> -->
                                  </td>
                                  <td style="width: 20%;text-align: center; font-size: 10px;">


                                  </td>
                                </tr>
                              </table>
                              <table style="width: 100%;">
                                <tr>


                                </tr>
                                <tr>
                                  <td *ngFor="let day of mentor.week">

                                    <p class='btn23 {{day.today.h0.t}}'>0</p>
                                    <p class='btn23 {{day.today.h1.t}}'>1</p>
                                    <p class='btn23 {{day.today.h2.t}}'>2</p>
                                    <p class='btn23 {{day.today.h3.t}}'>3</p>
                                    <p class='btn23 {{day.today.h4.t}}'>4</p>

                                    <p class='btn23 {{day.today.h5.t}}'>5</p>
                                    <p class='btn23 {{day.today.h6.t}}'>6</p>
                                    <p class='btn23 {{day.today.h7.t}}'>7</p>
                                    <p class='btn23 {{day.today.h8.t}}'>8</p>
                                    <p class='btn23 {{day.today.h9.t}}'>9</p>

                                    <p class='btn23 {{day.today.h10.t}}'>10</p>
                                    <p class='btn23 {{day.today.h11.t}}'>11</p>
                                    <p class='btn23 {{day.today.h12.t}}'>12</p>
                                    <p class='btn23 {{day.today.h13.t}}'>13</p>
                                    <p class='btn23 {{day.today.h14.t}}'>14</p>

                                    <p class='btn23 {{day.today.h15.t}}'>15</p>
                                    <p class='btn23 {{day.today.h16.t}}'>16</p>
                                    <p class='btn23 {{day.today.h17.t}}'>17</p>
                                    <p class='btn23 {{day.today.h18.t}}'>18</p>
                                    <p class='btn23 {{day.today.h19.t}}'>19</p>

                                    <p class='btn23 {{day.today.h20.t}}'>20</p>
                                    <p class='btn23 {{day.today.h21.t}}'>21</p>
                                    <p class='btn23 {{day.today.h22.t}}'>22</p>
                                    <p class='btn23 {{day.today.h23.t}}'>23</p>




                                  </td>
                                </tr>




                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>






                  </div>
                </div>
                <!-- /Mentor Widget -->
              </div>

              <div class="load-more text-center" *ngIf="mentors.length !== 0">
                <a class="btn btn-primary btn-sm" href="javascript:void(0);">{{"MENTEE.LOADMORE" | translate}}</a>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

    </div>

  </div>
  <!-- /Page Content -->
