<!-- Footer -->
<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="assets/img/logo.png" alt="logo">
						</div>
						<div class="footer-about-content">

							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab
												fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab
												fa-twitter"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab
												fa-linkedin-in"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab
												fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab
												fa-dribbble"></i> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title" >{{ "FOOTER.FOR-MENTEE" | translate }}</h2>
						<ul>
							<li><a [routerLink]="'/mentor-profile'" >{{ "FOOTER.SEARCH-MENTORS" |translate }}</a></li>
							<li><a [routerLink]="'/login-page'" >{{ "FOOTER.LOGIN" | translate }}</a></li>
							<li><a [routerLink]="'/register'" >{{ "FOOTER.REGISTER" | translate }}</a></li>
							<li><a [routerLink]="'/mentee/booking'" >{{ "FOOTER.BOOKING" | translate
									}}</a></li>
							<li><a [routerLink]="'/mentee/dashboard'" >{{ "FOOTER.MENTEE-DASHBOARD" |translate }}</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title" >{{ "FOOTER.FOR-MENTORS" | translate }}</h2>
						<ul>
							<li><a [routerLink]="'/mentor/my-bookings'" > {{ "FOOTER.BOOKINGS" |translate }}</a></li>
							<li><a [routerLink]="'/message'" >{{ "FOOTER.CHAT" | translate }}</a></li>
							<li><a [routerLink]="'/login'" >{{ "FOOTER.LOGIN" | translate }}</a></li>
							<li><a [routerLink]="'/register'" >{{ "FOOTER.REGISTER" | translate }}</a></li>
							<li><a [routerLink]="'/mentor/dashboard'">{{ "FOOTER.MENTOR-DASHBOARD" | translate }}</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
				</div>

				<div class="col-lg-3 col-md-6">
					<!-- Footer Widget -->
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">{{ "FOOTER.CONTACT-US" | translate }}</h2>
						<div class="footer-contact-info">
							<div class="footer-address">
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
							</div>
							<p>
								<i class="fas fa-phone-alt"></i>
								+1 315 369 5943
							</p>
							<p class="mb-0">
								<i class="fas fa-envelope"></i>
								Taleb@example.com
							</p>
						</div>
					</div>
					<!-- /Footer Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- /Footer Top -->

	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-12 text-center">
						<div class="copyright-text">
							<p class="mb-0">&copy; 2020 Taleb. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /Copyright -->
		</div>
	</div>
	<!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
