<!-- /Sidebar -->
<div class="profile-sidebar" *ngIf="currentProfessorProfile">
    <div class="user-widget">
        <div class="pro-avatar">T</div>
        <!-- <div class="rating">
  <i class="fas fa-star filled"></i>
  <i class="fas fa-star filled"></i>
  <i class="fas fa-star filled"></i>
  <i class="fas fa-star filled"></i>
  <i class="fas fa-star"></i>
    </div> -->
        <div class="user-info-cont">
            <h4 class="usr-name">{{currentProfessorProfile.arabic_name}}</h4>
            <!-- <p class="mentor-type">English Literature (M.A) </p> -->
        </div>
    </div>
    <!-- <div class="progress-bar-custom">
    <h6>Complete your profiles ></h6>
    <div class="pro-progress">
  <div class="tooltip-toggle" tabindex="0"></div>
  <div class="tooltip">80%</div>
    </div>
  </div> -->
    <div class="custom-sidebar-nav">
        <ul>
            <li><a [className]="(base === 'mentor' && page === 'dashboard') ?
                    'active' : ''" [routerLink]="'dashboard'"><i class="fas
                        fa-home"></i>Dashboard <span><i class="fas
                            fa-chevron-right"></i></span></a></li>
            <!-- <li><a [className]="(base === 'mentor' && page === 'my-bookings') ? 'active' : ''" [routerLink]="'my-bookings'"><i class="fas fa-clock"></i>Bookings <span><i class="fas fa-chevron-right"></i></span></a></li> -->
            <li><a [className]="(base === 'mentor' && page ===
                    'schedule-timing') ? 'active' : ''"
                    [routerLink]="'schedule-timing'"><i class="fas
                        fa-hourglass-start"></i>Tarifs <span><i class="fas
                            fa-chevron-right"></i></span></a></li>

            <!-- <li><a [className]="(base === 'mentor' && page === 'mentees') ? 'active' : ''" [routerLink]="'mentees'"><i class="fas fa-users"></i>Mentee List <span><i class="fas fa-chevron-right"></i></span></a></li>
  <li><a [className]="(base === 'mentor' && page === 'blog') ? 'active' : ''" [routerLink]="'blog'"><i class="fab fa-blogger-b"></i>Blog <span><i class="fas fa-chevron-right"></i></span></a></li>
  <li><a [className]="(base === 'mentor' && page === 'message') ? 'active' : ''" [routerLink]="'/message'"><i class="fas fa-comments"></i>Messages <span><i class="fas fa-chevron-right"></i></span></a></li>
   -->
            <!-- <li><a [className]="(base === 'mentor' && page === 'invoice') ? 'active' : ''" [routerLink]="'invoice'"><i class="fas fa-file-invoice"></i>Invoices <span><i class="fas fa-chevron-right"></i></span></a></li> -->
            <li><a [className]="(base === 'mentor' && page === 'reviews') ?
                    'active' : ''" [routerLink]="'reviews'"><i class="fas
                        fa-eye"></i>Certifications <span><i class="fas
                            fa-chevron-right"></i></span></a></li>
            <li><a [className]="(base === 'mentor' && page === 'settings') ?
                    'active' : ''" [routerLink]="'settings'"><i class="fas
                        fa-user-cog"></i>Profile Settings<span><i class="fas
                            fa-chevron-right"></i></span></a></li>
            <!-- <li><a [className]="(base === 'mentor' && page === 'calendar') ? 'active' : ''" [routerLink]="'calendar'"><i class="fas fa-calendar"></i>Calendar<span><i class="fas fa-chevron-right"></i></span></a></li> -->
            <li><a [className]="(base === 'mentor' && page === 'time-sheet') ?
                    'active' : ''" [routerLink]="'time-sheet'"><i class="fas
                        fa-calendar"></i>Time sheet<span><i class="fas
                            fa-chevron-right"></i></span></a></li>
            <li><a (click)="logout()" style="cursor: pointer;"><i class="fas
                        fa-sign-out-alt"></i>Logout <span><i class="fas
                            fa-chevron-right"></i></span></a></li>
        </ul>
    </div>
</div>
<!-- /Sidebar -->
