<!-- Page Content -->
<div class="bg-pattern-style">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<!-- Account Content -->
					<div class="account-content">
						<div class="account-box">
							<div class="login-right">
								<div class="login-header">
									<h3>Forgot Password?</h3>
									<p class="text-muted">Enter your email to get a password reset link</p>
								</div>
								<!-- Forgot Password Form -->
								<form>
									<div class="form-group">
										<label class="form-control-label">Email Address</label>
										<input type="email" class="form-control">
									</div>
									<div class="text-right">
										<a class="forgot-link mr-2" [routerLink]="'/login-page'">Remember your
											password?</a> <a class="forgot-link" [routerLink]="''">Home</a>
									</div>
									<button class="btn btn-primary login-btn" [routerLink]="'/login-page'"
										type="submit">Reset Password</button>
								</form>
								<!-- /Forgot Password Form -->
							</div>
						</div>
					</div>
					<!-- /Account Content -->
				</div>
			</div>
		</div>
	</div>
</div>
