<!-- Page Content -->
<div class="bg-pattern-style bg-pattern-style-register">
	<div class="content">

		<!-- Register Content -->
		<div class="account-content">
			<div class="account-box">
					<div class="login-right otp" *ngIf="showotp" >
<div class="content">
  <div class="o-c">
    <div>
      <div class="card" style="    border-radius: 20px !important;    padding: 30px;">
        <p class="a-o-i">Enter verification code</p>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      
      </div>
        <span *ngIf="otp" class="o-t-p">Entered otp :{{otp}}</span>
    </div>
  </div>
   
</div>

<div *ngIf="checkotpbtn" style="    text-align: center;" >
     <br>
    <button class="btn btn-info submit-btn"  (click)="CheckOtp(otp)"  >Check OTP </button>
           
					</div>
					</div>
				<div class="login-right" *ngIf="!showotp" >
					<div class="login-header">
					
						<p class="text-muted">Student Registration</p>
					</div>

					<!-- Register Form -->
					<label class="form-control-label">
						<a (click)="showemail=true"  >Email</a>/
						<a (click)="showemail=false">Mobile</a>
						 
					</label>
					<form>
						<div class="row"  >
							<div class="col-lg-12">
	<div class="form-group" *ngIf="showemail"  >
							<label class="form-control-label">Email Address</label>
							<input id="email" type="email" name="email" class="form-control"
								[(ngModel)]="email">
						</div>
							</div>
						

					
							<div class="col-lg-4"  *ngIf="!showemail">
								<div class="form-group">
									<label class="form-control-label">Country</label>
									<select name="country" id="country" class="form-control" [(ngModel)]='country'>
										<ng-container *ngFor="let _country of countries">
											<option value="{{_country.dial_code}}">
												{{_country.name}}
											</option>
										</ng-container>

									</select>

								</div>
							</div>
							<div class="col-lg-8"  *ngIf="!showemail"  >
								<div class="form-group">
									<label class="form-control-label">Phone </label>
									<input class="form-control" [(ngModel)]='mobile' name="mobile" id='mobile' type='number' pattern='tel'>
								</div>
							</div>
					
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-control-label">First Name</label>
									<input id="fname" type="text" class="form-control" name="fname"
										[(ngModel)]="fname" required autofocus="">

								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-control-label">Last Name</label>
									<input id="lname" type="text" class="form-control" name="lname"
										[(ngModel)]="lname">
								</div>
							</div>
							
						</div>
						

						<div class="row"  *ngIf="showemail" >
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-control-label"><i class="fas fa-eye" style="color: rgb(116, 116, 116);" (click)="showpassword=!showpassword" ></i>  Password</label>
									<input id="password" [type]="showpassword ? 'text' : 'password'" class="form-control"	name="password" [(ngModel)]="password"/>
									
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="form-control-label">Confirm Password</label>
									<input id="confirm" type="password" class="form-control" name="confirm"
										[(ngModel)]="confirm">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="custom-control custom-control-xs custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									name="agreeCheckboxUser" [(ngModel)]="agreeCheckboxUser"
									id="agree_checkbox_user">
								<label class="custom-control-label" for="agree_checkbox_user">I agree to
									Taleb</label> <a tabindex="-1" href="javascript:void(0);">Privacy
									Policy</a> &amp; <a tabindex="-1" href="javascript:void(0);"> Terms.</a>
							</div>
						</div>
						<button class="btn btn-primary login-btn" type="button"
							(click)="signup()">Create Account</button>
						<div class="account-footer text-center mt-3">
							Already have an account? <a class="forgot-link mr-2"
								[routerLink]="'/login-page'">Login</a> <a class="forgot-link"
								>Home</a>
						</div>
					</form>
					<!-- /Register Form -->
				</div>
			</div>
		</div>
		<!-- /Register Content -->
	</div>
</div>
<!-- /Page Content -->
