
@import "~@angular/material/theming";
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary,$app-accent,$app-warn);
@include angular-material-theme($app-theme);


$app-dark-theme: mat-dark-theme($app-primary,$app-accent,$app-warn);

.darkMode {


}


html,
body {
  height: 100%;
}
body {

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}
