<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="assets/admin/img/logo-white.png"
            alt="Logo">
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Register</h1>
            <p class="account-subtitle">Access to our dashboard</p>

            <!-- Form -->
            <form>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Password">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Confirm
                  Password">
              </div>
              <div class="form-group mb-0">
                <a class="btn btn-primary btn-block" type="submit"
                  [routerLink]="'/admin/login-form'">Register</a>
              </div>
            </form>
            <!-- /Form -->

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">or</span>
            </div>

            <!-- Social Login -->
            <div class="social-login">
              <span>Register with</span>
              <a href="javascript:void(0);" class="facebook"><i class="fa
                  fa-facebook"></i></a><a href="javascript:void(0);"
                class="google"><i class="fa fa-google"></i></a>
            </div>
            <!-- /Social Login -->

            <div class="text-center dont-have">Already have an account? <a
                [routerLink]="'/admin/login-form'">Login</a></div>
            <div class="text-center dont-have"><a
                [routerLink]="'/admin/dashboard'">Dashboard</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->