<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Data Tables</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin'">{{"ADMIN.DASHBOARD" | translate}}</a></li>
            <li class="breadcrumb-item active">{{"ADMIN.CATEGORIES" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <div class="form-row">

              <div class="col-md-3 mb-3">

                <label for="matiereId">{{"ADMIN.MATIERE" | translate}} </label>
                <select [(ngModel)]='selectedMatier'>
                  <ng-container *ngFor="let matier of matiers">
                    <option value="{{matier.id}}">{{matier.englishName}}{{matier.arabicName}}</option>
                  </ng-container>

                </select>

              </div>
              <div class="col-md-3 mb-3">

                <label for="CategoryNameEnglish">{{"ADMIN.ENGLISHNAME" | translate}}</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="CategoryNameEnglish" />

              </div>

              <div class="col-md-3 mb-6">

                <label>{{"ADMIN.ARABICNNAME" | translate}}</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="CategoryNameArabic" />

              </div>


              <div class="col-md-3 mb-3">

                <label for="CategoryNameEnglish">{{"ADMIN.ENGLISHDESCRIPTION" | translate}}</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="CategoryDescriptionEnglish" />

              </div>

              <div class="col-md-3 mb-3">

                <label>{{"ADMIN.ARABICDESCRIPTION" | translate}}</label>
                <input type="text" class="form-control mb-3"
                  [(ngModel)]="CategoryDescriptionArabic" />

              </div>



            </div>


            <div class="form-row">
              <div class="col-md-4 mb-4">
                <button class="btn btn-primary" (click)="save()">{{"ADMIN.SAVE" | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-body">

            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="datatable table table-stripped">
                <thead>
                  <tr>
                    <th>{{"ADMIN.MATIERE" | translate}}</th>
                    <th>{{"ADMIN.ENGLISHNAME" | translate}} </th>
                    <th>{{"ADMIN.ENGLISHDESCRIPTION" | translate}}</th>
                    <th>{{"ADMIN.ARABICNAME" | translate}} </th>
                    <th>{{"ADMIN.ARABICDESCRIPTION" | translate}}</th>
                    <th>{{"ADMIN.CONTROL" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categorys ; let i= index">
                    <td>
                      <div *ngIf="category.matier">{{category.matier.englishName
                        }}</div>

                    </td>
                    <td>
                      <div *ngIf="!category.isEdit">{{category.CategoryNameEnglish}}
                      </div>
                      <div *ngIf="category.isEdit">
                        <input type="text" class="form-control"
                          name="CategoryNameEnglish"
                          [(ngModel)]="category.CategoryNameEnglish" />
                      </div>
                    </td>
                    <td>
                      <div *ngIf="!category.isEdit">{{category.CategoryNameArabic}}
                      </div>
                      <div *ngIf="category.isEdit">
                        <input type="text" class="form-control"
                          name="CategoryNameArabic"
                          [(ngModel)]="category.CategoryNameArabic" />
                      </div>

                    </td>
                    <td>
                      <div *ngIf="!category.isEdit">{{category.CategoryDescriptionEnglish}}
                      </div>
                      <div *ngIf="category.isEdit">
                        <input type="text" class="form-control"
                          name="CategoryDescriptionEnglish"
                          [(ngModel)]="category.CategoryDescriptionEnglish" />
                      </div>

                    </td>

                    <td>
                      <div *ngIf="!category.isEdit">{{category.CategoryDescriptionArabic}}
                      </div>
                      <div *ngIf="category.isEdit">
                        <input type="text" class="form-control"
                          name="CategoryDescriptionArabic"
                          [(ngModel)]="category.CategoryDescriptionArabic" />
                      </div>

                    </td>


                    <td>
                      <button class="btn btn-rounded btn-outline-danger mr-1"
                        (click)="deleterow(category)">{{"ADMIN.DELETE" | translate}}</button>
                      <button class="btn btn-rounded btn-outline-secondary mr-1"
                        (click)="updaterow(category)">{{"ADMIN.UPDATE" | translate}}</button>


                      <button *ngIf="category.isEdit" class="btn btn-rounded
                        btn-outline-secondary mr-1"
                        (click)="saveChanges(category)">{{"ADMIN.SAVE" | translate}}</button>


                    </td>

                  </tr>


                </tbody>
              </table>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Main Wrapper -->
