


<div class="home" >
  <!-- Home Banner -->
  <section class="section section-search">
    <div class="container">
      <div class="banner-wrapper m-auto text-center">
        <div class="banner-header">

          <h1 > {{ "HOME.BIG-TITLE" | translate }} <span>{{ "HOME.BIG-TITLE-SPAN"| translate }}</span></h1>
         {{ "HOME.TITLE" | translate }}

        </div>

        <!-- Search -->
        <div class="search-box">
          <form action="javascript:void(0)">

            <div class="form-group search-info">
              <div style="" class="fadein_">
               

   <ng-select [(ngModel)]="_Matiers"  style="height: 40px; width: 100%;    background: #fff;    padding: 10px;margin: 10px; margin: 10px;"  (change)='_Category=0' name="_Matiers">


<ng-container  *ngFor="let Matier of Matiers" >
  <ng-option *ngIf="Matiers"[value]="Matier.id">
     <ng-container  *ngIf="!isEnglish()" >{{Matier.arabicName}}</ng-container>
                      <ng-container *ngIf="isEnglish()">{{Matier.englishName}}</ng-container>
                    </ng-option>
</ng-container>







</ng-select>







                <!-- <select *ngIf="Matiers" style="height: 40px; width: 100%;"
                  [(ngModel)]='_Matiers' (change)='_Category=0' name="_Matiers">
                  <option value="0"> <ng-container *ngIf="!isEnglish()">حدد
                      الموضوع</ng-container> <ng-container *ngIf="isEnglish()">Select
                      the Subject</ng-container></option>
                  <ng-container *ngFor="let Matier of Matiers">
                    <option value="{{Matier.id}}"> <ng-container
                        *ngIf="!isEnglish()">{{Matier.arabicName}}</ng-container>
                      <ng-container *ngIf="isEnglish()">{{Matier.englishName}}</ng-container>
                    </option>
                  </ng-container>

                </select> -->


                <!-- <select *ngIf="_Matiers>0" style=" height: 40px; width: 100%;"
                  [(ngModel)]='_Category' (change)='_Levels=0' name="_Category">
                  <option value="0"> <ng-container *ngIf="!isEnglish()"> حدد
                      المحور </ng-container> <ng-container *ngIf="isEnglish()">Select
                      the Chapter </ng-container></option>
                  <ng-container *ngFor="let Cat of Category">
                    <option *ngIf="Cat.matiereId==_Matiers" value="{{Cat.id}}">
                      <ng-container *ngIf="!isEnglish()">{{Cat.CategoryNameArabic}}</ng-container>
                      <ng-container *ngIf="isEnglish()">{{Cat.CategoryNameEnglish}}</ng-container>
                    </option>
                  </ng-container>

                </select> -->


                <!-- <select *ngIf="_Category>0 && _Matiers>0" style=" height: 40px;
                  width: 100%;" [(ngModel)]='_Levels' name="_Levels" >
                  <option value="0"> <ng-container *ngIf="!isEnglish()"> حدد
                      المستوى </ng-container> <ng-container *ngIf="isEnglish()">Select
                      the Level </ng-container></option>
                  <ng-container *ngFor="let Level of Levels">
                    <option *ngIf="Level.categoryId==_Category"
                      value="{{Level.id}}"> <ng-container *ngIf="!isEnglish()">{{Level.LevelNameArabic}}</ng-container>
                      <ng-container *ngIf="isEnglish()">{{Level.LevelNameEnglish}}</ng-container>
                    </option>
                  </ng-container>

                </select> -->

                <button *ngIf="_Matiers>0 "
                  (click)='next()' style=" height: 40px; width: 100%; color:
                  #fff; background: rgb(91, 176, 255); margin: 10px;" class="fadein_">
                  <ng-container *ngIf="!isEnglish()" > ابحث عن مدرس
                  </ng-container> <ng-container *ngIf="isEnglish()">Search For
                    Tutor </ng-container>
                </button>


              </div>


              <img  (click)="appleStore()" src="assets/img/appleStore.png"  style="width: 200px; height: 50px; object-fit: contain;">


              <img  (click)="googlePlay()" src="assets/img/googlePlay.png"  style="width: 200px; height: 50px; object-fit: contain;">

              <ng-template #itemTemplate let-item>

                <div *ngIf="isArabic">
                  <a [innerHTML]="item.levelNameArabic"></a>
                </div>
                <div *ngIf="!isArabic">
                  <a [innerHTML]="item.levelNameEnglish"></a>
                </div>


              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>




              <!--  <input type="text" class="form-control" placeholder="Search Teacher Online">-->
            </div>
            <!-- <button type="submit" [routerLink]="'/search-mentor'" class="btn btn-primary search-btn"><i><img src="assets/img/search-submit.png" alt=""></i> <span>Search</span></button>-->
          </form>
        </div>
        <!-- /Search -->

      </div>
    </div>
  </section>
  <!-- /Home Banner -->

  <section class="section how-it-works">
    <div class="container">
      <div class="section-header text-center">
        <span>Taleb Flow</span>
        <h2 #para>How does it works ?</h2>
        <p class="sub-title">Are you looking to join online institutions? Now
          it's very simple, Sign up with Taleb</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box text-center">
            <div class="feature-header">
              <div class="feature-icon">
                <span class="circle"></span>
                <i><img src="assets/img/icon-1.png" alt=""></i>
              </div>
              <div class="feature-cont">
                <div class="feature-text">Sign up</div>
              </div>
            </div>
            <p class="mb-0">Are you looking to join online Learning? Now it's
              very simple, Now Sign up</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box text-center">
            <div class="feature-header">
              <div class="feature-icon">
                <span class="circle"></span>
                <i><img src="assets/img/icon-2.png" alt=""></i>
              </div>
              <div class="feature-cont">
                <div class="feature-text">Collaborate</div>
              </div>
            </div>
            <p class="mb-0">Collaborate on your own timing, by scheduling with
              mentor booking</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box text-center">
            <div class="feature-header">
              <div class="feature-icon">
                <span class="circle"></span>
                <i><img src="assets/img/icon-3.png" alt=""></i>
              </div>
              <div class="feature-cont">
                <div class="feature-text">Improve & Get Back</div>
              </div>
            </div>
            <p class="mb-0">you can gather different skill set, and you can
              become mentor too</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section popular-courses">
    <div class="container">
      <div class="section-header text-center">
        <span>Taleb Goals</span>
        <h2>Popular Mentors</h2>
        <p class="sub-title">Do you want to move on next step? Choose your most
          popular leaning mentors, it will help you to achieve your professional
          goals.</p>
      </div>
      <div class="owl-carousel owl-theme">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
          [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of slides" class="course-box">
            <div class="product owl-item">
              <div class="product-img">
                <a [routerLink]="'/mentor-profile'" [queryParams]="{id: 1}">
                  <img class="img-fluid" alt="" src="{{slide.img}}" width="600"
                    height="300">
                </a>
              </div>
              <div class="product-content">
                <h3 class="title"><a [routerLink]="'/mentor-profile'"
                    [queryParams]="{id: 1}">{{slide.profile_name}}</a></h3>
                <div class="author-info">
                  <div class="author-name">
                    {{slide.author}}
                  </div>
                </div>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">4.4</span>
                </div>
                <div class="author-country">
                  <p class="mb-0"><i class="fas fa-map-marker-alt"></i>
                    {{slide.country}}</p>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </section>


  <!-- Path section start -->
  <section class="section path-section">
    <div class="section-header text-center">
      <div class="container">
        <span>Choose the</span>
        <h2>Different All Learning Paths</h2>
        <p class="sub-title">The online method of learning is best suited for
          everyone</p>
      </div>
    </div>
    <div class="learning-path-col">
      <div class="container">
        <div class="row">
          <div *ngFor="let position of positions" class="col-12 col-md-4
            col-lg-3">
            <div class="large-col">
              <a [routerLink]="'/mentor-profile'" class="large-col-image">
                <div class="image-col-merge">
                  <img src="{{position.img}}" alt="">
                  <div class="text-col">
                    <h5>{{position.name}}</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
        <div class="view-all text-center"><a (click)="windowTop()" class="btn
            btn-primary wht-font">Search Book & Mentors</a></div>
      </div>
    </div>
  </section>
  <!-- Path section end -->
  <!-- Blog Section -->
 
  <!-- /Blog Section -->
  <!-- Statistics Section -->
  <section class="section statistics-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="statistics-list text-center">
            <span>500+</span>
            <h3>Happy Clients</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="statistics-list text-center">
            <span>120+</span>
            <h3>Online Appointments</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="statistics-list text-center">
            <span>100%</span>
            <h3>Job Satisfaction</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Statistics Section -->
</div>
