 <div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Reviews</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin'">Dashboard</a></li>
						<li class="breadcrumb-item active">Reviews</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Patient Name</th>
										<th>Doctor Name</th>
										<th>Ratings</th>
										<th>Description</th>
										<th>Date</th>
										<th class="text-right">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let review of reviews">
										<td>
											<h2 class="table-avatar">
												<a class="avatar avatar-sm mr-2"><img class="avatar-img
														rounded-circle" [src]="review.patient_pic" alt="User Image"></a>
												<a>{{review.patient_name}} </a>
											</h2>
										</td>
										<td>
											<h2 class="table-avatar">
												<a [routerLink]="'/admin/mentor-profile'" class="avatar avatar-sm
													mr-2"><img class="avatar-img rounded-circle"
														[src]="review.doctor_pic" alt="User Image"></a>
												<a>{{review.doctor_name}}</a>
											</h2>
										</td>

										<td>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star text-warning"></i>
											<i class="fe fe-star-o text-secondary"></i>
										</td>

										<td>
											{{review.description}}
										</td>
										<td>{{review.date | date : "dd MMM yyyy hh:mm a"}}</td>
										<td class="text-right">
											<div class="actions">
												<a data-toggle="modal" (click)="deleteModal(delete,review)"
													class="btn btn-sm bg-danger-light">
													<i class="fe fe-trash"></i> Delete
												</a>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #delete>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Delete</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body text-center">
		Are you sure want to delete this Review?
		<div style="margin-top:25px">
			<button type="button" class="btn btn-default" (mouseover)="btnColor()"
				id="btn-yes" (click)="deleteReview()">Yes</button>
			<button type="button" class="btn btn-primary" (mouseover)="btnColorNo()"
				id="btn-no" (click)="decline()">No</button>
		</div>
	</div>
</ng-template>